.container {
  position: relative;

  .slogan {
    @include f-qsr;
    color: $color-white;
    text-align: center;
    margin-top: 32px;
  }

  .app-store {
    margin-top: 60px;

    .app-store-btn-wrap {
      text-align: center;
      font-size: 0;
      margin-bottom: 100px;
    }
    
    .app-store-btn {
      display: inline-block;
      background-color: $color-00;
      width: 180px;
      height: 60px;
      vertical-align: middle;
      @include border-radius();

      i {
        margin-top: 10px;
      }

      &:last-child {
        i {
          margin-top: 8px;
        }
      }
    }
  }
}

.info-wrap {
  .container {
    height: inherit;
  }

  .screen {
    position: absolute;
    bottom: 0;
    left: 0;

    .screen-shot {
      position: absolute;
      top: 72px;
      left: 20px;

      .screen-img {
        position: absolute;
        top: 0;
        display: inline-block !important;
        opacity: 0;
        transition: opacity 0.5s;
        &.active {
          transition: opacity 1s;
          opacity: 1;
        }
      }
    }
  }

  .info {
    position: relative;
    padding: 60px 0;
    height: inherit;
    text-align: center;

    ul {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 60px;
      margin: 0 auto;
    }

    .info-card {
      position: absolute;
      top: 60px;
      left: 0;
      display: inline-block;
      opacity: 1;
      transition: opacity 1s;
      &.hide {
        opacity: 0;
        transition: opacity 0.5s;
      }
      p {
        color: $color-white;
        font-size: 18px;
        text-align: left;

        &:first-child {
          font-size: 36px;
          margin: 0 auto 32px auto;
        }

        &:last-child {
          margin-top: 32px;
        }
      }
    }
  }
}

.guide-wrap {
  p {
    color: $color-black;
    font-size: 36px;
    text-align: center;
  }

  ul {
    margin: 0 0 60px 0;

    li {
      width: 200px;

      p {
        font-size: 18px;
        margin: 24px auto 0 auto;
      }
    }
  }
}
