@import "tapas";


.container {
  position: relative;

  .slogan {
    @include f-qsr;
    color: $color-white;
    text-align: center;
    margin-top: 32px;
  }

  .app-store {
    margin-top: 60px;

    .app-store-btn-wrap {
      text-align: center;
      font-size: 0;
    }

    .app-store-btn {
      display: inline-block;
      background-color: $color-00;
      width: 180px;
      height: 60px;
      vertical-align: middle;
      @include border-radius();

      img {
        padding: 10px 0;
      }

      &:last-child {
        margin-left: 20px;
        img {
          padding: 8px 0;
        }
      }
    }

    .app-store-msg {
      @include f-qsb;
      color: $color-white;
      text-align: center;
      font-size: 16px;
      margin-top: 24px;
    }
  }
}

.info-wrap {
  .container {
    height: inherit;
  }

  .screen {
    position: absolute;
    bottom: 0;
    left: 0;

    .screen-shot {
      position: absolute;
      bottom: 0;
      left: 20px;

      .screen-img {
        display: inline;
      }
    }
  }

  .info {
    position: relative;
    padding: 60px 0;
    height: inherit;
    text-align: center;

    ul {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 60px;
      margin: 0 auto;
    }

    .info-card {
      p {
        color: $color-white;
        font-size: 18px;
        text-align: left;

        &:first-child {
          font-size: 36px;
          margin: 0 auto 32px auto;
        }

        &:last-child {
          margin-top: 32px;
        }
      }
    }
  }
}

.guide-wrap {
  p {
    color: $color-black;
    font-size: 36px;
    text-align: center;
  }

  ul {
    margin: 0 0 60px 0;

    li {
      width: 200px;

      p {
        font-size: 18px;
        margin: 24px auto 0 auto;
      }
    }
  }
}