@mixin font($weight: 400) {
  font-weight: $weight;
  font-style: normal !important;
}

@mixin f-qsb() {
  font-family: $qsr-font-stack;
  @include font(700);
}

@mixin f-qsr() {
  font-family: $qsr-font-stack;
  @include font;
}

@mixin rm-lh() {
  line-height: 0;
}

@mixin rm-mp() {
  margin: 0;
  padding: 0;
}

@mixin border-radius($radius: 5px) {
  @include border-r($radius, $radius, $radius, $radius);
}

@mixin border-radius-top($radius: 5px) {
  @include border-r($radius, $radius, 0, 0);
}

@mixin border-radius-bottom($radius: 5px) {
  @include border-r(0, 0, $radius, $radius);
}

@mixin border-r($tl, $tr, $br, $bl) {
  -webkit-border-radius: $tl $tr $br $bl;
  -moz-border-radius: $tl $tr $br $bl;
  -ms-border-radius: $tl $tr $br $bl;
  border-radius: $tl $tr $br $bl;
}

@mixin rotate($degrees: 90deg) {
  -webkit-transform: rotate($degrees);
  -moz-transform: rotate($degrees);
  -ms-transform: rotate($degrees);
  -o-transform: rotate($degrees);
  transform: rotate($degrees);
}

// mixin for Responsive
