@import "variables";

@mixin font() {
  font-weight: normal !important;
  font-style: normal !important;
}

@mixin f-qsb() {
  font-family: $qsb-font-stack;
  @include font;
}

@mixin f-qsl() {
  font-family: $qsl-font-stack;
  @include font;
}

@mixin f-qsr() {
  font-family: $qsr-font-stack;
  @include font;
}

@mixin rm-lh() {
  line-height: 0;
}

@mixin border-radius($radius: 5px) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}