.page-wrap {
  a {
    color: $color-l-blue;

    &:hover {
      text-decoration: underline;
    }
  }

  p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 15px;

    &.head {
      font-size: 24px;
    }

    &.last {
      @include f-qsb;
    }
  }

  ul.number {
    list-style: decimal;
    padding-left: 30px;

    li {
      display: list-item;
      font-size: 18px;
      border: none;
    }
  }

  ul.alphabet {
    list-style: lower-alpha;
    padding-left: 40px;
  }

  ul.roman {
    list-style: lower-roman;
    padding-left: 40px;
  }
}

ul.line {
  margin-top: 32px;
  border-top: 1px solid $color-d6;
  border-bottom: 1px solid $color-d6;

  li {
    display: block;
    border-bottom: 1px solid $color-e6;

    &:last-child {
      border: none;
    }

    &.active {
      .answer {
        display: block;
      }

      .bullet {
        @include rotate(135deg);
        margin-bottom: 5px;
      }
    }

    p {
      display: inline-block;
      @include f-qsb;
      color: $color-d-gray;
      font-size: 20px;
      line-height: 1;
      margin: 16px 0;
    }

    .question {
      cursor: pointer;

      a, p {
        vertical-align: middle;
      }

      &:hover {
        p {
          color: $color-l-blue;
        }
      }
    }

    .answer {
      display: none;
      background-color: $color-f6;
      padding: 16px 28px;
      overflow: hidden;

      p {
        @include f-qsr;
        font-size: 18px;
        line-height: 1.2;
        margin: 0;
        vertical-align: text-top;
        width: 100%;

        &.date, &.link {
          font-size: 14px;
          color: $color-a6;
          margin-top: 16px;
        }

        &.link {
          float: right;
          cursor: pointer;

          a {
            color: $color-a6;
            text-decoration: none;
          }
        }
      }
    }
  }
}

ul.team {

  .member {
    width: 200px;
    text-align: center;
    vertical-align: top;

    i {
      display: block;
      margin: 0 auto;
      cursor: pointer;
    }

    .desc {
      p:first-child {
        color: $color-black;
        font-size: 22px;
        margin-top: 12px;
      }

      p:last-child {
        min-height: 35px;
        color: $color-yellow;
        font-size: 16px;
        margin-top: 4px;
        line-height: 1.1;

        &.open {
          padding: 0 9px;
        }
      }
    }
  }
}

ul.resources {
  .item-wrap {
    width: 192px;
    height: 198px;
    padding: 24px;
    cursor: pointer;

    &:hover {
      background: rgba(255, 255, 255, 0.1);
      @include border-radius(5px);
    }

    .item {
      width: 144px;
      height: 150px;
      text-align: center;
    }

    a {
      display: block;
      i {
        display: block;
        margin: 0 auto;
      }
    }

    p {
      @include f-qsb;
      font-size: 22px;
      margin: 9px 0 0 0;
    }
  }
}

ul.news {
  .story {
    vertical-align: top;
    margin-bottom: 40px;
    cursor: pointer;

    a {
      height: 120px;
      margin-bottom: 12px;
      display: block;
      text-align: center;
      text-decoration: none;
      span {
        display: block;
        @include f-qsb;
        font-size: 30px;
        color: $color-white;
        background-color: $color-d8;
        line-height: 120px;
      }
    }

    p {
      font-size: 18px;
      color: $color-d-gray;
      margin: 8px 0 0 0;
      line-height: 24px;
      text-align: center;
    }
  }
}

.bullet {
  width: 12px;
  height: 12px;
  display: inline-block;
  background-color: $color-black;
  margin: 0 12px 0 3px;
  @include rotate(45deg);
  cursor: none;

  i {
    display: block;
    width: 8px;
    height: 20px;
    background-color: $color-white;
    @include rotate(-45deg);
  }
}

.pagination-wrap {
  text-align: center;
}

.pagination {
  margin: 40px 0 0 0;
  display: inline-flex;
  text-align: center;

  .page-item {

    .page-dot {
      display: block;
      width: 12px;
      height: 12px;
      border: none;
      background-color: $color-d-gray;
      opacity: 0.2;
      @include border-radius(6px);
      margin: 12px 16px 12px 0;
      cursor: pointer;

      &.last {
        margin-right: 0;
      }
    }

    .page-link {
      width: 100px;
      @include f-qsb;
      font-size: 20px;
      color: $color-white;
      background-color: $color-d-gray;
      border: none;
      @include border-radius(18px);
      line-height: 1.8;
      padding: 0;
      opacity: 0.2;

      &:hover {
        color: $color-white;
        background-color: $color-d-gray;
        cursor: pointer;
      }
    }

    &.active {
      .page-link, .page-dot {
        opacity: 1;
      }
    }

    &.first {
      margin-right: 24px;
    }

    &.last {
      margin-left: 24px;
    }
  }
}