@import "tapas";


.policy-wrap {
  width: 648px;
  margin: 0 auto;
  padding: 60px 0;

  a {
    color: $color-l-blue;

    &:hover {
      text-decoration: underline;
    }
  }

  p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 15px;

    &.head {
      font-size: 24px;
    }

    &.last {
      @include f-qsb;
    }
  }

  ul.number {
    list-style: decimal;
    padding-left: 30px;

    li {
      display: list-item;
      font-size: 18px;
    }
  }

  ul.alphabet {
    list-style: lower-alpha;
    padding-left: 40px;
  }

  ul.roman {
    list-style: lower-roman;
    padding-left: 40px;
  }
}