@import "tapas";

header {
  height: 80px;
}

.share-page {
  p {
    line-height: 1.3;
  }

  .series {
    @include f-qsb;
  }

  .creator {
    div {
      display: inline-block;

      &:first-child {
        vertical-align: top;
      }

      span {
        display: inline-block;
        line-height: 1;
      }
    }

    img {
      @include border-radius(20px);
      margin-right: 8px;
    }

    .name {
      font-size: 16px;
      color: $color-86;
      margin-top: 4px;
    }
  }

  .app-store {
    .app-store-btn {
      display: inline-block;
      background-color: $color-00;
      width: 180px;
      height: 60px;
      vertical-align: middle;
      @include border-radius;
      text-align: center;

      img {
        padding: 10px 0;
      }

      &:last-child {
        img {
          padding: 8px 0;
        }
      }
    }
  }
}
