@import "tapas";

header {
  height: 80px;
}

.content {
  .container {
    padding: 60px 0;
    width: 684px;
    margin: 0 auto;

    p {
      line-height: 1.3;
    }

    .thumb {
      display: inline-block;
      margin-right: 24px;
      vertical-align: top;
    }

    .info {
      width: 540px;
      display: inline-block;
    }

    .main-title {
      @include f-qsb;
      font-size: 32px;
      color: $color-black;
      margin-bottom: 8px;
    }

    .series {
      @include f-qsb;
    }

    .creator {
      margin-bottom: 24px;
      
      div {
        display: inline-block;

        &:first-child {
          vertical-align: top;
        }

        span {
          display: inline-block;
          line-height: 1;
        }
      }

      img {
        @include border-radius(20px);
        margin-right: 8px;
      }

      .name {
        font-size: 16px;
        color: $color-86;
        margin-top: 4px;
      }
    }

    .description {
      margin-bottom: 50px;
      font-size: 18px;
      text-overflow: ellipsis;
    }

    .tapas {
      font-size: 16px;
    }

    .app-store {
      margin-top: 20px;

      .app-store-btn-wrap {
        text-align: left;
        font-size: 0;
      }

      .app-store-btn {
        display: inline-block;
        background-color: $color-00;
        width: 180px;
        height: 60px;
        vertical-align: middle;
        @include border-radius();
        text-align: center;

        img {
          padding: 10px 0;
        }

        &:last-child {
          margin-left: 20px;
          img {
            padding: 8px 0;
          }
        }
      }
    }
  }
}