/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$sp-team-adrienne-face-name: 'sp-team-adrienne-face';
$sp-team-adrienne-face-x: 182px;
$sp-team-adrienne-face-y: 0px;
$sp-team-adrienne-face-offset-x: -182px;
$sp-team-adrienne-face-offset-y: 0px;
$sp-team-adrienne-face-width: 180px;
$sp-team-adrienne-face-height: 180px;
$sp-team-adrienne-face-total-width: 1090px;
$sp-team-adrienne-face-total-height: 908px;
$sp-team-adrienne-face-image: '/public/images/sprites-team.png';
$sp-team-adrienne-face: (182px, 0px, -182px, 0px, 180px, 180px, 1090px, 908px, '/public/images/sprites-team.png', 'sp-team-adrienne-face', );
$sp-team-adrienne-full-name: 'sp-team-adrienne-full';
$sp-team-adrienne-full-x: 364px;
$sp-team-adrienne-full-y: 546px;
$sp-team-adrienne-full-offset-x: -364px;
$sp-team-adrienne-full-offset-y: -546px;
$sp-team-adrienne-full-width: 180px;
$sp-team-adrienne-full-height: 180px;
$sp-team-adrienne-full-total-width: 1090px;
$sp-team-adrienne-full-total-height: 908px;
$sp-team-adrienne-full-image: '/public/images/sprites-team.png';
$sp-team-adrienne-full: (364px, 546px, -364px, -546px, 180px, 180px, 1090px, 908px, '/public/images/sprites-team.png', 'sp-team-adrienne-full', );
$sp-team-chang-face-name: 'sp-team-chang-face';
$sp-team-chang-face-x: 0px;
$sp-team-chang-face-y: 182px;
$sp-team-chang-face-offset-x: 0px;
$sp-team-chang-face-offset-y: -182px;
$sp-team-chang-face-width: 180px;
$sp-team-chang-face-height: 180px;
$sp-team-chang-face-total-width: 1090px;
$sp-team-chang-face-total-height: 908px;
$sp-team-chang-face-image: '/public/images/sprites-team.png';
$sp-team-chang-face: (0px, 182px, 0px, -182px, 180px, 180px, 1090px, 908px, '/public/images/sprites-team.png', 'sp-team-chang-face', );
$sp-team-chang-full-name: 'sp-team-chang-full';
$sp-team-chang-full-x: 182px;
$sp-team-chang-full-y: 182px;
$sp-team-chang-full-offset-x: -182px;
$sp-team-chang-full-offset-y: -182px;
$sp-team-chang-full-width: 180px;
$sp-team-chang-full-height: 180px;
$sp-team-chang-full-total-width: 1090px;
$sp-team-chang-full-total-height: 908px;
$sp-team-chang-full-image: '/public/images/sprites-team.png';
$sp-team-chang-full: (182px, 182px, -182px, -182px, 180px, 180px, 1090px, 908px, '/public/images/sprites-team.png', 'sp-team-chang-full', );
$sp-team-daron-face-name: 'sp-team-daron-face';
$sp-team-daron-face-x: 364px;
$sp-team-daron-face-y: 0px;
$sp-team-daron-face-offset-x: -364px;
$sp-team-daron-face-offset-y: 0px;
$sp-team-daron-face-width: 180px;
$sp-team-daron-face-height: 180px;
$sp-team-daron-face-total-width: 1090px;
$sp-team-daron-face-total-height: 908px;
$sp-team-daron-face-image: '/public/images/sprites-team.png';
$sp-team-daron-face: (364px, 0px, -364px, 0px, 180px, 180px, 1090px, 908px, '/public/images/sprites-team.png', 'sp-team-daron-face', );
$sp-team-daron-full-name: 'sp-team-daron-full';
$sp-team-daron-full-x: 364px;
$sp-team-daron-full-y: 182px;
$sp-team-daron-full-offset-x: -364px;
$sp-team-daron-full-offset-y: -182px;
$sp-team-daron-full-width: 180px;
$sp-team-daron-full-height: 180px;
$sp-team-daron-full-total-width: 1090px;
$sp-team-daron-full-total-height: 908px;
$sp-team-daron-full-image: '/public/images/sprites-team.png';
$sp-team-daron-full: (364px, 182px, -364px, -182px, 180px, 180px, 1090px, 908px, '/public/images/sprites-team.png', 'sp-team-daron-full', );
$sp-team-gabby-face-name: 'sp-team-gabby-face';
$sp-team-gabby-face-x: 0px;
$sp-team-gabby-face-y: 364px;
$sp-team-gabby-face-offset-x: 0px;
$sp-team-gabby-face-offset-y: -364px;
$sp-team-gabby-face-width: 180px;
$sp-team-gabby-face-height: 180px;
$sp-team-gabby-face-total-width: 1090px;
$sp-team-gabby-face-total-height: 908px;
$sp-team-gabby-face-image: '/public/images/sprites-team.png';
$sp-team-gabby-face: (0px, 364px, 0px, -364px, 180px, 180px, 1090px, 908px, '/public/images/sprites-team.png', 'sp-team-gabby-face', );
$sp-team-gabby-full-name: 'sp-team-gabby-full';
$sp-team-gabby-full-x: 182px;
$sp-team-gabby-full-y: 364px;
$sp-team-gabby-full-offset-x: -182px;
$sp-team-gabby-full-offset-y: -364px;
$sp-team-gabby-full-width: 180px;
$sp-team-gabby-full-height: 180px;
$sp-team-gabby-full-total-width: 1090px;
$sp-team-gabby-full-total-height: 908px;
$sp-team-gabby-full-image: '/public/images/sprites-team.png';
$sp-team-gabby-full: (182px, 364px, -182px, -364px, 180px, 180px, 1090px, 908px, '/public/images/sprites-team.png', 'sp-team-gabby-full', );
$sp-team-hyo-face-name: 'sp-team-hyo-face';
$sp-team-hyo-face-x: 364px;
$sp-team-hyo-face-y: 364px;
$sp-team-hyo-face-offset-x: -364px;
$sp-team-hyo-face-offset-y: -364px;
$sp-team-hyo-face-width: 180px;
$sp-team-hyo-face-height: 180px;
$sp-team-hyo-face-total-width: 1090px;
$sp-team-hyo-face-total-height: 908px;
$sp-team-hyo-face-image: '/public/images/sprites-team.png';
$sp-team-hyo-face: (364px, 364px, -364px, -364px, 180px, 180px, 1090px, 908px, '/public/images/sprites-team.png', 'sp-team-hyo-face', );
$sp-team-hyo-full-name: 'sp-team-hyo-full';
$sp-team-hyo-full-x: 546px;
$sp-team-hyo-full-y: 0px;
$sp-team-hyo-full-offset-x: -546px;
$sp-team-hyo-full-offset-y: 0px;
$sp-team-hyo-full-width: 180px;
$sp-team-hyo-full-height: 180px;
$sp-team-hyo-full-total-width: 1090px;
$sp-team-hyo-full-total-height: 908px;
$sp-team-hyo-full-image: '/public/images/sprites-team.png';
$sp-team-hyo-full: (546px, 0px, -546px, 0px, 180px, 180px, 1090px, 908px, '/public/images/sprites-team.png', 'sp-team-hyo-full', );
$sp-team-jessica-face-name: 'sp-team-jessica-face';
$sp-team-jessica-face-x: 546px;
$sp-team-jessica-face-y: 182px;
$sp-team-jessica-face-offset-x: -546px;
$sp-team-jessica-face-offset-y: -182px;
$sp-team-jessica-face-width: 180px;
$sp-team-jessica-face-height: 180px;
$sp-team-jessica-face-total-width: 1090px;
$sp-team-jessica-face-total-height: 908px;
$sp-team-jessica-face-image: '/public/images/sprites-team.png';
$sp-team-jessica-face: (546px, 182px, -546px, -182px, 180px, 180px, 1090px, 908px, '/public/images/sprites-team.png', 'sp-team-jessica-face', );
$sp-team-jessica-full-name: 'sp-team-jessica-full';
$sp-team-jessica-full-x: 546px;
$sp-team-jessica-full-y: 364px;
$sp-team-jessica-full-offset-x: -546px;
$sp-team-jessica-full-offset-y: -364px;
$sp-team-jessica-full-width: 180px;
$sp-team-jessica-full-height: 180px;
$sp-team-jessica-full-total-width: 1090px;
$sp-team-jessica-full-total-height: 908px;
$sp-team-jessica-full-image: '/public/images/sprites-team.png';
$sp-team-jessica-full: (546px, 364px, -546px, -364px, 180px, 180px, 1090px, 908px, '/public/images/sprites-team.png', 'sp-team-jessica-full', );
$sp-team-josh-face-name: 'sp-team-josh-face';
$sp-team-josh-face-x: 0px;
$sp-team-josh-face-y: 546px;
$sp-team-josh-face-offset-x: 0px;
$sp-team-josh-face-offset-y: -546px;
$sp-team-josh-face-width: 180px;
$sp-team-josh-face-height: 180px;
$sp-team-josh-face-total-width: 1090px;
$sp-team-josh-face-total-height: 908px;
$sp-team-josh-face-image: '/public/images/sprites-team.png';
$sp-team-josh-face: (0px, 546px, 0px, -546px, 180px, 180px, 1090px, 908px, '/public/images/sprites-team.png', 'sp-team-josh-face', );
$sp-team-josh-full-name: 'sp-team-josh-full';
$sp-team-josh-full-x: 182px;
$sp-team-josh-full-y: 546px;
$sp-team-josh-full-offset-x: -182px;
$sp-team-josh-full-offset-y: -546px;
$sp-team-josh-full-width: 180px;
$sp-team-josh-full-height: 180px;
$sp-team-josh-full-total-width: 1090px;
$sp-team-josh-full-total-height: 908px;
$sp-team-josh-full-image: '/public/images/sprites-team.png';
$sp-team-josh-full: (182px, 546px, -182px, -546px, 180px, 180px, 1090px, 908px, '/public/images/sprites-team.png', 'sp-team-josh-full', );
$sp-team-michael-face-name: 'sp-team-michael-face';
$sp-team-michael-face-x: 0px;
$sp-team-michael-face-y: 0px;
$sp-team-michael-face-offset-x: 0px;
$sp-team-michael-face-offset-y: 0px;
$sp-team-michael-face-width: 180px;
$sp-team-michael-face-height: 180px;
$sp-team-michael-face-total-width: 1090px;
$sp-team-michael-face-total-height: 908px;
$sp-team-michael-face-image: '/public/images/sprites-team.png';
$sp-team-michael-face: (0px, 0px, 0px, 0px, 180px, 180px, 1090px, 908px, '/public/images/sprites-team.png', 'sp-team-michael-face', );
$sp-team-michael-full-name: 'sp-team-michael-full';
$sp-team-michael-full-x: 546px;
$sp-team-michael-full-y: 546px;
$sp-team-michael-full-offset-x: -546px;
$sp-team-michael-full-offset-y: -546px;
$sp-team-michael-full-width: 180px;
$sp-team-michael-full-height: 180px;
$sp-team-michael-full-total-width: 1090px;
$sp-team-michael-full-total-height: 908px;
$sp-team-michael-full-image: '/public/images/sprites-team.png';
$sp-team-michael-full: (546px, 546px, -546px, -546px, 180px, 180px, 1090px, 908px, '/public/images/sprites-team.png', 'sp-team-michael-full', );
$sp-team-mino-face-name: 'sp-team-mino-face';
$sp-team-mino-face-x: 728px;
$sp-team-mino-face-y: 0px;
$sp-team-mino-face-offset-x: -728px;
$sp-team-mino-face-offset-y: 0px;
$sp-team-mino-face-width: 180px;
$sp-team-mino-face-height: 180px;
$sp-team-mino-face-total-width: 1090px;
$sp-team-mino-face-total-height: 908px;
$sp-team-mino-face-image: '/public/images/sprites-team.png';
$sp-team-mino-face: (728px, 0px, -728px, 0px, 180px, 180px, 1090px, 908px, '/public/images/sprites-team.png', 'sp-team-mino-face', );
$sp-team-mino-full-name: 'sp-team-mino-full';
$sp-team-mino-full-x: 728px;
$sp-team-mino-full-y: 182px;
$sp-team-mino-full-offset-x: -728px;
$sp-team-mino-full-offset-y: -182px;
$sp-team-mino-full-width: 180px;
$sp-team-mino-full-height: 180px;
$sp-team-mino-full-total-width: 1090px;
$sp-team-mino-full-total-height: 908px;
$sp-team-mino-full-image: '/public/images/sprites-team.png';
$sp-team-mino-full: (728px, 182px, -728px, -182px, 180px, 180px, 1090px, 908px, '/public/images/sprites-team.png', 'sp-team-mino-full', );
$sp-team-sujin-face-name: 'sp-team-sujin-face';
$sp-team-sujin-face-x: 728px;
$sp-team-sujin-face-y: 364px;
$sp-team-sujin-face-offset-x: -728px;
$sp-team-sujin-face-offset-y: -364px;
$sp-team-sujin-face-width: 180px;
$sp-team-sujin-face-height: 180px;
$sp-team-sujin-face-total-width: 1090px;
$sp-team-sujin-face-total-height: 908px;
$sp-team-sujin-face-image: '/public/images/sprites-team.png';
$sp-team-sujin-face: (728px, 364px, -728px, -364px, 180px, 180px, 1090px, 908px, '/public/images/sprites-team.png', 'sp-team-sujin-face', );
$sp-team-sujin-full-name: 'sp-team-sujin-full';
$sp-team-sujin-full-x: 728px;
$sp-team-sujin-full-y: 546px;
$sp-team-sujin-full-offset-x: -728px;
$sp-team-sujin-full-offset-y: -546px;
$sp-team-sujin-full-width: 180px;
$sp-team-sujin-full-height: 180px;
$sp-team-sujin-full-total-width: 1090px;
$sp-team-sujin-full-total-height: 908px;
$sp-team-sujin-full-image: '/public/images/sprites-team.png';
$sp-team-sujin-full: (728px, 546px, -728px, -546px, 180px, 180px, 1090px, 908px, '/public/images/sprites-team.png', 'sp-team-sujin-full', );
$sp-team-suzy-face-name: 'sp-team-suzy-face';
$sp-team-suzy-face-x: 0px;
$sp-team-suzy-face-y: 728px;
$sp-team-suzy-face-offset-x: 0px;
$sp-team-suzy-face-offset-y: -728px;
$sp-team-suzy-face-width: 180px;
$sp-team-suzy-face-height: 180px;
$sp-team-suzy-face-total-width: 1090px;
$sp-team-suzy-face-total-height: 908px;
$sp-team-suzy-face-image: '/public/images/sprites-team.png';
$sp-team-suzy-face: (0px, 728px, 0px, -728px, 180px, 180px, 1090px, 908px, '/public/images/sprites-team.png', 'sp-team-suzy-face', );
$sp-team-suzy-full-name: 'sp-team-suzy-full';
$sp-team-suzy-full-x: 182px;
$sp-team-suzy-full-y: 728px;
$sp-team-suzy-full-offset-x: -182px;
$sp-team-suzy-full-offset-y: -728px;
$sp-team-suzy-full-width: 180px;
$sp-team-suzy-full-height: 180px;
$sp-team-suzy-full-total-width: 1090px;
$sp-team-suzy-full-total-height: 908px;
$sp-team-suzy-full-image: '/public/images/sprites-team.png';
$sp-team-suzy-full: (182px, 728px, -182px, -728px, 180px, 180px, 1090px, 908px, '/public/images/sprites-team.png', 'sp-team-suzy-full', );
$sp-team-tapamon-face-name: 'sp-team-tapamon-face';
$sp-team-tapamon-face-x: 364px;
$sp-team-tapamon-face-y: 728px;
$sp-team-tapamon-face-offset-x: -364px;
$sp-team-tapamon-face-offset-y: -728px;
$sp-team-tapamon-face-width: 180px;
$sp-team-tapamon-face-height: 180px;
$sp-team-tapamon-face-total-width: 1090px;
$sp-team-tapamon-face-total-height: 908px;
$sp-team-tapamon-face-image: '/public/images/sprites-team.png';
$sp-team-tapamon-face: (364px, 728px, -364px, -728px, 180px, 180px, 1090px, 908px, '/public/images/sprites-team.png', 'sp-team-tapamon-face', );
$sp-team-tapamon-full-name: 'sp-team-tapamon-full';
$sp-team-tapamon-full-x: 546px;
$sp-team-tapamon-full-y: 728px;
$sp-team-tapamon-full-offset-x: -546px;
$sp-team-tapamon-full-offset-y: -728px;
$sp-team-tapamon-full-width: 180px;
$sp-team-tapamon-full-height: 180px;
$sp-team-tapamon-full-total-width: 1090px;
$sp-team-tapamon-full-total-height: 908px;
$sp-team-tapamon-full-image: '/public/images/sprites-team.png';
$sp-team-tapamon-full: (546px, 728px, -546px, -728px, 180px, 180px, 1090px, 908px, '/public/images/sprites-team.png', 'sp-team-tapamon-full', );
$sp-team-thomas-face-name: 'sp-team-thomas-face';
$sp-team-thomas-face-x: 728px;
$sp-team-thomas-face-y: 728px;
$sp-team-thomas-face-offset-x: -728px;
$sp-team-thomas-face-offset-y: -728px;
$sp-team-thomas-face-width: 180px;
$sp-team-thomas-face-height: 180px;
$sp-team-thomas-face-total-width: 1090px;
$sp-team-thomas-face-total-height: 908px;
$sp-team-thomas-face-image: '/public/images/sprites-team.png';
$sp-team-thomas-face: (728px, 728px, -728px, -728px, 180px, 180px, 1090px, 908px, '/public/images/sprites-team.png', 'sp-team-thomas-face', );
$sp-team-thomas-full-name: 'sp-team-thomas-full';
$sp-team-thomas-full-x: 910px;
$sp-team-thomas-full-y: 0px;
$sp-team-thomas-full-offset-x: -910px;
$sp-team-thomas-full-offset-y: 0px;
$sp-team-thomas-full-width: 180px;
$sp-team-thomas-full-height: 180px;
$sp-team-thomas-full-total-width: 1090px;
$sp-team-thomas-full-total-height: 908px;
$sp-team-thomas-full-image: '/public/images/sprites-team.png';
$sp-team-thomas-full: (910px, 0px, -910px, 0px, 180px, 180px, 1090px, 908px, '/public/images/sprites-team.png', 'sp-team-thomas-full', );
$sp-team-yoon-face-name: 'sp-team-yoon-face';
$sp-team-yoon-face-x: 910px;
$sp-team-yoon-face-y: 182px;
$sp-team-yoon-face-offset-x: -910px;
$sp-team-yoon-face-offset-y: -182px;
$sp-team-yoon-face-width: 180px;
$sp-team-yoon-face-height: 180px;
$sp-team-yoon-face-total-width: 1090px;
$sp-team-yoon-face-total-height: 908px;
$sp-team-yoon-face-image: '/public/images/sprites-team.png';
$sp-team-yoon-face: (910px, 182px, -910px, -182px, 180px, 180px, 1090px, 908px, '/public/images/sprites-team.png', 'sp-team-yoon-face', );
$sp-team-yoon-full-name: 'sp-team-yoon-full';
$sp-team-yoon-full-x: 910px;
$sp-team-yoon-full-y: 364px;
$sp-team-yoon-full-offset-x: -910px;
$sp-team-yoon-full-offset-y: -364px;
$sp-team-yoon-full-width: 180px;
$sp-team-yoon-full-height: 180px;
$sp-team-yoon-full-total-width: 1090px;
$sp-team-yoon-full-total-height: 908px;
$sp-team-yoon-full-image: '/public/images/sprites-team.png';
$sp-team-yoon-full: (910px, 364px, -910px, -364px, 180px, 180px, 1090px, 908px, '/public/images/sprites-team.png', 'sp-team-yoon-full', );
$sp-team-adrienne-face-2x-name: 'sp-team-adrienne-face-2x';
$sp-team-adrienne-face-2x-x: 364px;
$sp-team-adrienne-face-2x-y: 0px;
$sp-team-adrienne-face-2x-offset-x: -364px;
$sp-team-adrienne-face-2x-offset-y: 0px;
$sp-team-adrienne-face-2x-width: 360px;
$sp-team-adrienne-face-2x-height: 360px;
$sp-team-adrienne-face-2x-total-width: 2180px;
$sp-team-adrienne-face-2x-total-height: 1816px;
$sp-team-adrienne-face-2x-image: '/public/images/sprites-team-2x.png';
$sp-team-adrienne-face-2x: (364px, 0px, -364px, 0px, 360px, 360px, 2180px, 1816px, '/public/images/sprites-team-2x.png', 'sp-team-adrienne-face-2x', );
$sp-team-adrienne-full-2x-name: 'sp-team-adrienne-full-2x';
$sp-team-adrienne-full-2x-x: 728px;
$sp-team-adrienne-full-2x-y: 1092px;
$sp-team-adrienne-full-2x-offset-x: -728px;
$sp-team-adrienne-full-2x-offset-y: -1092px;
$sp-team-adrienne-full-2x-width: 360px;
$sp-team-adrienne-full-2x-height: 360px;
$sp-team-adrienne-full-2x-total-width: 2180px;
$sp-team-adrienne-full-2x-total-height: 1816px;
$sp-team-adrienne-full-2x-image: '/public/images/sprites-team-2x.png';
$sp-team-adrienne-full-2x: (728px, 1092px, -728px, -1092px, 360px, 360px, 2180px, 1816px, '/public/images/sprites-team-2x.png', 'sp-team-adrienne-full-2x', );
$sp-team-chang-face-2x-name: 'sp-team-chang-face-2x';
$sp-team-chang-face-2x-x: 0px;
$sp-team-chang-face-2x-y: 364px;
$sp-team-chang-face-2x-offset-x: 0px;
$sp-team-chang-face-2x-offset-y: -364px;
$sp-team-chang-face-2x-width: 360px;
$sp-team-chang-face-2x-height: 360px;
$sp-team-chang-face-2x-total-width: 2180px;
$sp-team-chang-face-2x-total-height: 1816px;
$sp-team-chang-face-2x-image: '/public/images/sprites-team-2x.png';
$sp-team-chang-face-2x: (0px, 364px, 0px, -364px, 360px, 360px, 2180px, 1816px, '/public/images/sprites-team-2x.png', 'sp-team-chang-face-2x', );
$sp-team-chang-full-2x-name: 'sp-team-chang-full-2x';
$sp-team-chang-full-2x-x: 364px;
$sp-team-chang-full-2x-y: 364px;
$sp-team-chang-full-2x-offset-x: -364px;
$sp-team-chang-full-2x-offset-y: -364px;
$sp-team-chang-full-2x-width: 360px;
$sp-team-chang-full-2x-height: 360px;
$sp-team-chang-full-2x-total-width: 2180px;
$sp-team-chang-full-2x-total-height: 1816px;
$sp-team-chang-full-2x-image: '/public/images/sprites-team-2x.png';
$sp-team-chang-full-2x: (364px, 364px, -364px, -364px, 360px, 360px, 2180px, 1816px, '/public/images/sprites-team-2x.png', 'sp-team-chang-full-2x', );
$sp-team-daron-face-2x-name: 'sp-team-daron-face-2x';
$sp-team-daron-face-2x-x: 728px;
$sp-team-daron-face-2x-y: 0px;
$sp-team-daron-face-2x-offset-x: -728px;
$sp-team-daron-face-2x-offset-y: 0px;
$sp-team-daron-face-2x-width: 360px;
$sp-team-daron-face-2x-height: 360px;
$sp-team-daron-face-2x-total-width: 2180px;
$sp-team-daron-face-2x-total-height: 1816px;
$sp-team-daron-face-2x-image: '/public/images/sprites-team-2x.png';
$sp-team-daron-face-2x: (728px, 0px, -728px, 0px, 360px, 360px, 2180px, 1816px, '/public/images/sprites-team-2x.png', 'sp-team-daron-face-2x', );
$sp-team-daron-full-2x-name: 'sp-team-daron-full-2x';
$sp-team-daron-full-2x-x: 728px;
$sp-team-daron-full-2x-y: 364px;
$sp-team-daron-full-2x-offset-x: -728px;
$sp-team-daron-full-2x-offset-y: -364px;
$sp-team-daron-full-2x-width: 360px;
$sp-team-daron-full-2x-height: 360px;
$sp-team-daron-full-2x-total-width: 2180px;
$sp-team-daron-full-2x-total-height: 1816px;
$sp-team-daron-full-2x-image: '/public/images/sprites-team-2x.png';
$sp-team-daron-full-2x: (728px, 364px, -728px, -364px, 360px, 360px, 2180px, 1816px, '/public/images/sprites-team-2x.png', 'sp-team-daron-full-2x', );
$sp-team-gabby-face-2x-name: 'sp-team-gabby-face-2x';
$sp-team-gabby-face-2x-x: 0px;
$sp-team-gabby-face-2x-y: 728px;
$sp-team-gabby-face-2x-offset-x: 0px;
$sp-team-gabby-face-2x-offset-y: -728px;
$sp-team-gabby-face-2x-width: 360px;
$sp-team-gabby-face-2x-height: 360px;
$sp-team-gabby-face-2x-total-width: 2180px;
$sp-team-gabby-face-2x-total-height: 1816px;
$sp-team-gabby-face-2x-image: '/public/images/sprites-team-2x.png';
$sp-team-gabby-face-2x: (0px, 728px, 0px, -728px, 360px, 360px, 2180px, 1816px, '/public/images/sprites-team-2x.png', 'sp-team-gabby-face-2x', );
$sp-team-gabby-full-2x-name: 'sp-team-gabby-full-2x';
$sp-team-gabby-full-2x-x: 364px;
$sp-team-gabby-full-2x-y: 728px;
$sp-team-gabby-full-2x-offset-x: -364px;
$sp-team-gabby-full-2x-offset-y: -728px;
$sp-team-gabby-full-2x-width: 360px;
$sp-team-gabby-full-2x-height: 360px;
$sp-team-gabby-full-2x-total-width: 2180px;
$sp-team-gabby-full-2x-total-height: 1816px;
$sp-team-gabby-full-2x-image: '/public/images/sprites-team-2x.png';
$sp-team-gabby-full-2x: (364px, 728px, -364px, -728px, 360px, 360px, 2180px, 1816px, '/public/images/sprites-team-2x.png', 'sp-team-gabby-full-2x', );
$sp-team-hyo-face-2x-name: 'sp-team-hyo-face-2x';
$sp-team-hyo-face-2x-x: 728px;
$sp-team-hyo-face-2x-y: 728px;
$sp-team-hyo-face-2x-offset-x: -728px;
$sp-team-hyo-face-2x-offset-y: -728px;
$sp-team-hyo-face-2x-width: 360px;
$sp-team-hyo-face-2x-height: 360px;
$sp-team-hyo-face-2x-total-width: 2180px;
$sp-team-hyo-face-2x-total-height: 1816px;
$sp-team-hyo-face-2x-image: '/public/images/sprites-team-2x.png';
$sp-team-hyo-face-2x: (728px, 728px, -728px, -728px, 360px, 360px, 2180px, 1816px, '/public/images/sprites-team-2x.png', 'sp-team-hyo-face-2x', );
$sp-team-hyo-full-2x-name: 'sp-team-hyo-full-2x';
$sp-team-hyo-full-2x-x: 1092px;
$sp-team-hyo-full-2x-y: 0px;
$sp-team-hyo-full-2x-offset-x: -1092px;
$sp-team-hyo-full-2x-offset-y: 0px;
$sp-team-hyo-full-2x-width: 360px;
$sp-team-hyo-full-2x-height: 360px;
$sp-team-hyo-full-2x-total-width: 2180px;
$sp-team-hyo-full-2x-total-height: 1816px;
$sp-team-hyo-full-2x-image: '/public/images/sprites-team-2x.png';
$sp-team-hyo-full-2x: (1092px, 0px, -1092px, 0px, 360px, 360px, 2180px, 1816px, '/public/images/sprites-team-2x.png', 'sp-team-hyo-full-2x', );
$sp-team-jessica-face-2x-name: 'sp-team-jessica-face-2x';
$sp-team-jessica-face-2x-x: 1092px;
$sp-team-jessica-face-2x-y: 364px;
$sp-team-jessica-face-2x-offset-x: -1092px;
$sp-team-jessica-face-2x-offset-y: -364px;
$sp-team-jessica-face-2x-width: 360px;
$sp-team-jessica-face-2x-height: 360px;
$sp-team-jessica-face-2x-total-width: 2180px;
$sp-team-jessica-face-2x-total-height: 1816px;
$sp-team-jessica-face-2x-image: '/public/images/sprites-team-2x.png';
$sp-team-jessica-face-2x: (1092px, 364px, -1092px, -364px, 360px, 360px, 2180px, 1816px, '/public/images/sprites-team-2x.png', 'sp-team-jessica-face-2x', );
$sp-team-jessica-full-2x-name: 'sp-team-jessica-full-2x';
$sp-team-jessica-full-2x-x: 1092px;
$sp-team-jessica-full-2x-y: 728px;
$sp-team-jessica-full-2x-offset-x: -1092px;
$sp-team-jessica-full-2x-offset-y: -728px;
$sp-team-jessica-full-2x-width: 360px;
$sp-team-jessica-full-2x-height: 360px;
$sp-team-jessica-full-2x-total-width: 2180px;
$sp-team-jessica-full-2x-total-height: 1816px;
$sp-team-jessica-full-2x-image: '/public/images/sprites-team-2x.png';
$sp-team-jessica-full-2x: (1092px, 728px, -1092px, -728px, 360px, 360px, 2180px, 1816px, '/public/images/sprites-team-2x.png', 'sp-team-jessica-full-2x', );
$sp-team-josh-face-2x-name: 'sp-team-josh-face-2x';
$sp-team-josh-face-2x-x: 0px;
$sp-team-josh-face-2x-y: 1092px;
$sp-team-josh-face-2x-offset-x: 0px;
$sp-team-josh-face-2x-offset-y: -1092px;
$sp-team-josh-face-2x-width: 360px;
$sp-team-josh-face-2x-height: 360px;
$sp-team-josh-face-2x-total-width: 2180px;
$sp-team-josh-face-2x-total-height: 1816px;
$sp-team-josh-face-2x-image: '/public/images/sprites-team-2x.png';
$sp-team-josh-face-2x: (0px, 1092px, 0px, -1092px, 360px, 360px, 2180px, 1816px, '/public/images/sprites-team-2x.png', 'sp-team-josh-face-2x', );
$sp-team-josh-full-2x-name: 'sp-team-josh-full-2x';
$sp-team-josh-full-2x-x: 364px;
$sp-team-josh-full-2x-y: 1092px;
$sp-team-josh-full-2x-offset-x: -364px;
$sp-team-josh-full-2x-offset-y: -1092px;
$sp-team-josh-full-2x-width: 360px;
$sp-team-josh-full-2x-height: 360px;
$sp-team-josh-full-2x-total-width: 2180px;
$sp-team-josh-full-2x-total-height: 1816px;
$sp-team-josh-full-2x-image: '/public/images/sprites-team-2x.png';
$sp-team-josh-full-2x: (364px, 1092px, -364px, -1092px, 360px, 360px, 2180px, 1816px, '/public/images/sprites-team-2x.png', 'sp-team-josh-full-2x', );
$sp-team-michael-face-2x-name: 'sp-team-michael-face-2x';
$sp-team-michael-face-2x-x: 0px;
$sp-team-michael-face-2x-y: 0px;
$sp-team-michael-face-2x-offset-x: 0px;
$sp-team-michael-face-2x-offset-y: 0px;
$sp-team-michael-face-2x-width: 360px;
$sp-team-michael-face-2x-height: 360px;
$sp-team-michael-face-2x-total-width: 2180px;
$sp-team-michael-face-2x-total-height: 1816px;
$sp-team-michael-face-2x-image: '/public/images/sprites-team-2x.png';
$sp-team-michael-face-2x: (0px, 0px, 0px, 0px, 360px, 360px, 2180px, 1816px, '/public/images/sprites-team-2x.png', 'sp-team-michael-face-2x', );
$sp-team-michael-full-2x-name: 'sp-team-michael-full-2x';
$sp-team-michael-full-2x-x: 1092px;
$sp-team-michael-full-2x-y: 1092px;
$sp-team-michael-full-2x-offset-x: -1092px;
$sp-team-michael-full-2x-offset-y: -1092px;
$sp-team-michael-full-2x-width: 360px;
$sp-team-michael-full-2x-height: 360px;
$sp-team-michael-full-2x-total-width: 2180px;
$sp-team-michael-full-2x-total-height: 1816px;
$sp-team-michael-full-2x-image: '/public/images/sprites-team-2x.png';
$sp-team-michael-full-2x: (1092px, 1092px, -1092px, -1092px, 360px, 360px, 2180px, 1816px, '/public/images/sprites-team-2x.png', 'sp-team-michael-full-2x', );
$sp-team-mino-face-2x-name: 'sp-team-mino-face-2x';
$sp-team-mino-face-2x-x: 1456px;
$sp-team-mino-face-2x-y: 0px;
$sp-team-mino-face-2x-offset-x: -1456px;
$sp-team-mino-face-2x-offset-y: 0px;
$sp-team-mino-face-2x-width: 360px;
$sp-team-mino-face-2x-height: 360px;
$sp-team-mino-face-2x-total-width: 2180px;
$sp-team-mino-face-2x-total-height: 1816px;
$sp-team-mino-face-2x-image: '/public/images/sprites-team-2x.png';
$sp-team-mino-face-2x: (1456px, 0px, -1456px, 0px, 360px, 360px, 2180px, 1816px, '/public/images/sprites-team-2x.png', 'sp-team-mino-face-2x', );
$sp-team-mino-full-2x-name: 'sp-team-mino-full-2x';
$sp-team-mino-full-2x-x: 1456px;
$sp-team-mino-full-2x-y: 364px;
$sp-team-mino-full-2x-offset-x: -1456px;
$sp-team-mino-full-2x-offset-y: -364px;
$sp-team-mino-full-2x-width: 360px;
$sp-team-mino-full-2x-height: 360px;
$sp-team-mino-full-2x-total-width: 2180px;
$sp-team-mino-full-2x-total-height: 1816px;
$sp-team-mino-full-2x-image: '/public/images/sprites-team-2x.png';
$sp-team-mino-full-2x: (1456px, 364px, -1456px, -364px, 360px, 360px, 2180px, 1816px, '/public/images/sprites-team-2x.png', 'sp-team-mino-full-2x', );
$sp-team-sujin-face-2x-name: 'sp-team-sujin-face-2x';
$sp-team-sujin-face-2x-x: 1456px;
$sp-team-sujin-face-2x-y: 728px;
$sp-team-sujin-face-2x-offset-x: -1456px;
$sp-team-sujin-face-2x-offset-y: -728px;
$sp-team-sujin-face-2x-width: 360px;
$sp-team-sujin-face-2x-height: 360px;
$sp-team-sujin-face-2x-total-width: 2180px;
$sp-team-sujin-face-2x-total-height: 1816px;
$sp-team-sujin-face-2x-image: '/public/images/sprites-team-2x.png';
$sp-team-sujin-face-2x: (1456px, 728px, -1456px, -728px, 360px, 360px, 2180px, 1816px, '/public/images/sprites-team-2x.png', 'sp-team-sujin-face-2x', );
$sp-team-sujin-full-2x-name: 'sp-team-sujin-full-2x';
$sp-team-sujin-full-2x-x: 1456px;
$sp-team-sujin-full-2x-y: 1092px;
$sp-team-sujin-full-2x-offset-x: -1456px;
$sp-team-sujin-full-2x-offset-y: -1092px;
$sp-team-sujin-full-2x-width: 360px;
$sp-team-sujin-full-2x-height: 360px;
$sp-team-sujin-full-2x-total-width: 2180px;
$sp-team-sujin-full-2x-total-height: 1816px;
$sp-team-sujin-full-2x-image: '/public/images/sprites-team-2x.png';
$sp-team-sujin-full-2x: (1456px, 1092px, -1456px, -1092px, 360px, 360px, 2180px, 1816px, '/public/images/sprites-team-2x.png', 'sp-team-sujin-full-2x', );
$sp-team-suzy-face-2x-name: 'sp-team-suzy-face-2x';
$sp-team-suzy-face-2x-x: 0px;
$sp-team-suzy-face-2x-y: 1456px;
$sp-team-suzy-face-2x-offset-x: 0px;
$sp-team-suzy-face-2x-offset-y: -1456px;
$sp-team-suzy-face-2x-width: 360px;
$sp-team-suzy-face-2x-height: 360px;
$sp-team-suzy-face-2x-total-width: 2180px;
$sp-team-suzy-face-2x-total-height: 1816px;
$sp-team-suzy-face-2x-image: '/public/images/sprites-team-2x.png';
$sp-team-suzy-face-2x: (0px, 1456px, 0px, -1456px, 360px, 360px, 2180px, 1816px, '/public/images/sprites-team-2x.png', 'sp-team-suzy-face-2x', );
$sp-team-suzy-full-2x-name: 'sp-team-suzy-full-2x';
$sp-team-suzy-full-2x-x: 364px;
$sp-team-suzy-full-2x-y: 1456px;
$sp-team-suzy-full-2x-offset-x: -364px;
$sp-team-suzy-full-2x-offset-y: -1456px;
$sp-team-suzy-full-2x-width: 360px;
$sp-team-suzy-full-2x-height: 360px;
$sp-team-suzy-full-2x-total-width: 2180px;
$sp-team-suzy-full-2x-total-height: 1816px;
$sp-team-suzy-full-2x-image: '/public/images/sprites-team-2x.png';
$sp-team-suzy-full-2x: (364px, 1456px, -364px, -1456px, 360px, 360px, 2180px, 1816px, '/public/images/sprites-team-2x.png', 'sp-team-suzy-full-2x', );
$sp-team-tapamon-face-2x-name: 'sp-team-tapamon-face-2x';
$sp-team-tapamon-face-2x-x: 728px;
$sp-team-tapamon-face-2x-y: 1456px;
$sp-team-tapamon-face-2x-offset-x: -728px;
$sp-team-tapamon-face-2x-offset-y: -1456px;
$sp-team-tapamon-face-2x-width: 360px;
$sp-team-tapamon-face-2x-height: 360px;
$sp-team-tapamon-face-2x-total-width: 2180px;
$sp-team-tapamon-face-2x-total-height: 1816px;
$sp-team-tapamon-face-2x-image: '/public/images/sprites-team-2x.png';
$sp-team-tapamon-face-2x: (728px, 1456px, -728px, -1456px, 360px, 360px, 2180px, 1816px, '/public/images/sprites-team-2x.png', 'sp-team-tapamon-face-2x', );
$sp-team-tapamon-full-2x-name: 'sp-team-tapamon-full-2x';
$sp-team-tapamon-full-2x-x: 1092px;
$sp-team-tapamon-full-2x-y: 1456px;
$sp-team-tapamon-full-2x-offset-x: -1092px;
$sp-team-tapamon-full-2x-offset-y: -1456px;
$sp-team-tapamon-full-2x-width: 360px;
$sp-team-tapamon-full-2x-height: 360px;
$sp-team-tapamon-full-2x-total-width: 2180px;
$sp-team-tapamon-full-2x-total-height: 1816px;
$sp-team-tapamon-full-2x-image: '/public/images/sprites-team-2x.png';
$sp-team-tapamon-full-2x: (1092px, 1456px, -1092px, -1456px, 360px, 360px, 2180px, 1816px, '/public/images/sprites-team-2x.png', 'sp-team-tapamon-full-2x', );
$sp-team-thomas-face-2x-name: 'sp-team-thomas-face-2x';
$sp-team-thomas-face-2x-x: 1456px;
$sp-team-thomas-face-2x-y: 1456px;
$sp-team-thomas-face-2x-offset-x: -1456px;
$sp-team-thomas-face-2x-offset-y: -1456px;
$sp-team-thomas-face-2x-width: 360px;
$sp-team-thomas-face-2x-height: 360px;
$sp-team-thomas-face-2x-total-width: 2180px;
$sp-team-thomas-face-2x-total-height: 1816px;
$sp-team-thomas-face-2x-image: '/public/images/sprites-team-2x.png';
$sp-team-thomas-face-2x: (1456px, 1456px, -1456px, -1456px, 360px, 360px, 2180px, 1816px, '/public/images/sprites-team-2x.png', 'sp-team-thomas-face-2x', );
$sp-team-thomas-full-2x-name: 'sp-team-thomas-full-2x';
$sp-team-thomas-full-2x-x: 1820px;
$sp-team-thomas-full-2x-y: 0px;
$sp-team-thomas-full-2x-offset-x: -1820px;
$sp-team-thomas-full-2x-offset-y: 0px;
$sp-team-thomas-full-2x-width: 360px;
$sp-team-thomas-full-2x-height: 360px;
$sp-team-thomas-full-2x-total-width: 2180px;
$sp-team-thomas-full-2x-total-height: 1816px;
$sp-team-thomas-full-2x-image: '/public/images/sprites-team-2x.png';
$sp-team-thomas-full-2x: (1820px, 0px, -1820px, 0px, 360px, 360px, 2180px, 1816px, '/public/images/sprites-team-2x.png', 'sp-team-thomas-full-2x', );
$sp-team-yoon-face-2x-name: 'sp-team-yoon-face-2x';
$sp-team-yoon-face-2x-x: 1820px;
$sp-team-yoon-face-2x-y: 364px;
$sp-team-yoon-face-2x-offset-x: -1820px;
$sp-team-yoon-face-2x-offset-y: -364px;
$sp-team-yoon-face-2x-width: 360px;
$sp-team-yoon-face-2x-height: 360px;
$sp-team-yoon-face-2x-total-width: 2180px;
$sp-team-yoon-face-2x-total-height: 1816px;
$sp-team-yoon-face-2x-image: '/public/images/sprites-team-2x.png';
$sp-team-yoon-face-2x: (1820px, 364px, -1820px, -364px, 360px, 360px, 2180px, 1816px, '/public/images/sprites-team-2x.png', 'sp-team-yoon-face-2x', );
$sp-team-yoon-full-2x-name: 'sp-team-yoon-full-2x';
$sp-team-yoon-full-2x-x: 1820px;
$sp-team-yoon-full-2x-y: 728px;
$sp-team-yoon-full-2x-offset-x: -1820px;
$sp-team-yoon-full-2x-offset-y: -728px;
$sp-team-yoon-full-2x-width: 360px;
$sp-team-yoon-full-2x-height: 360px;
$sp-team-yoon-full-2x-total-width: 2180px;
$sp-team-yoon-full-2x-total-height: 1816px;
$sp-team-yoon-full-2x-image: '/public/images/sprites-team-2x.png';
$sp-team-yoon-full-2x: (1820px, 728px, -1820px, -728px, 360px, 360px, 2180px, 1816px, '/public/images/sprites-team-2x.png', 'sp-team-yoon-full-2x', );
$sp-team-width: 1090px;
$sp-team-height: 908px;
$sp-team-image: '/public/images/sprites-team.png';
$sp-team-sprites: ($sp-team-adrienne-face, $sp-team-adrienne-full, $sp-team-chang-face, $sp-team-chang-full, $sp-team-daron-face, $sp-team-daron-full, $sp-team-gabby-face, $sp-team-gabby-full, $sp-team-hyo-face, $sp-team-hyo-full, $sp-team-jessica-face, $sp-team-jessica-full, $sp-team-josh-face, $sp-team-josh-full, $sp-team-michael-face, $sp-team-michael-full, $sp-team-mino-face, $sp-team-mino-full, $sp-team-sujin-face, $sp-team-sujin-full, $sp-team-suzy-face, $sp-team-suzy-full, $sp-team-tapamon-face, $sp-team-tapamon-full, $sp-team-thomas-face, $sp-team-thomas-full, $sp-team-yoon-face, $sp-team-yoon-full, );
$sp-team: (1090px, 908px, '/public/images/sprites-team.png', $sp-team-sprites, );
$sp-team-retina-width: 2180px;
$sp-team-retina-height: 1816px;
$sp-team-retina-image: '/public/images/sprites-team-2x.png';
$sp-team-retina-sprites: ($sp-team-adrienne-face-2x, $sp-team-adrienne-full-2x, $sp-team-chang-face-2x, $sp-team-chang-full-2x, $sp-team-daron-face-2x, $sp-team-daron-full-2x, $sp-team-gabby-face-2x, $sp-team-gabby-full-2x, $sp-team-hyo-face-2x, $sp-team-hyo-full-2x, $sp-team-jessica-face-2x, $sp-team-jessica-full-2x, $sp-team-josh-face-2x, $sp-team-josh-full-2x, $sp-team-michael-face-2x, $sp-team-michael-full-2x, $sp-team-mino-face-2x, $sp-team-mino-full-2x, $sp-team-sujin-face-2x, $sp-team-sujin-full-2x, $sp-team-suzy-face-2x, $sp-team-suzy-full-2x, $sp-team-tapamon-face-2x, $sp-team-tapamon-full-2x, $sp-team-thomas-face-2x, $sp-team-thomas-full-2x, $sp-team-yoon-face-2x, $sp-team-yoon-full-2x, );
$sp-team-retina: (2180px, 1816px, '/public/images/sprites-team-2x.png', $sp-team-retina-sprites, );

/*
These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.

The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
*/
$sp-team-adrienne-face-group-name: 'sp-team-adrienne-face';
$sp-team-adrienne-face-group: ('sp-team-adrienne-face', $sp-team-adrienne-face, $sp-team-adrienne-face-2x, );
$sp-team-adrienne-full-group-name: 'sp-team-adrienne-full';
$sp-team-adrienne-full-group: ('sp-team-adrienne-full', $sp-team-adrienne-full, $sp-team-adrienne-full-2x, );
$sp-team-chang-face-group-name: 'sp-team-chang-face';
$sp-team-chang-face-group: ('sp-team-chang-face', $sp-team-chang-face, $sp-team-chang-face-2x, );
$sp-team-chang-full-group-name: 'sp-team-chang-full';
$sp-team-chang-full-group: ('sp-team-chang-full', $sp-team-chang-full, $sp-team-chang-full-2x, );
$sp-team-daron-face-group-name: 'sp-team-daron-face';
$sp-team-daron-face-group: ('sp-team-daron-face', $sp-team-daron-face, $sp-team-daron-face-2x, );
$sp-team-daron-full-group-name: 'sp-team-daron-full';
$sp-team-daron-full-group: ('sp-team-daron-full', $sp-team-daron-full, $sp-team-daron-full-2x, );
$sp-team-gabby-face-group-name: 'sp-team-gabby-face';
$sp-team-gabby-face-group: ('sp-team-gabby-face', $sp-team-gabby-face, $sp-team-gabby-face-2x, );
$sp-team-gabby-full-group-name: 'sp-team-gabby-full';
$sp-team-gabby-full-group: ('sp-team-gabby-full', $sp-team-gabby-full, $sp-team-gabby-full-2x, );
$sp-team-hyo-face-group-name: 'sp-team-hyo-face';
$sp-team-hyo-face-group: ('sp-team-hyo-face', $sp-team-hyo-face, $sp-team-hyo-face-2x, );
$sp-team-hyo-full-group-name: 'sp-team-hyo-full';
$sp-team-hyo-full-group: ('sp-team-hyo-full', $sp-team-hyo-full, $sp-team-hyo-full-2x, );
$sp-team-jessica-face-group-name: 'sp-team-jessica-face';
$sp-team-jessica-face-group: ('sp-team-jessica-face', $sp-team-jessica-face, $sp-team-jessica-face-2x, );
$sp-team-jessica-full-group-name: 'sp-team-jessica-full';
$sp-team-jessica-full-group: ('sp-team-jessica-full', $sp-team-jessica-full, $sp-team-jessica-full-2x, );
$sp-team-josh-face-group-name: 'sp-team-josh-face';
$sp-team-josh-face-group: ('sp-team-josh-face', $sp-team-josh-face, $sp-team-josh-face-2x, );
$sp-team-josh-full-group-name: 'sp-team-josh-full';
$sp-team-josh-full-group: ('sp-team-josh-full', $sp-team-josh-full, $sp-team-josh-full-2x, );
$sp-team-michael-face-group-name: 'sp-team-michael-face';
$sp-team-michael-face-group: ('sp-team-michael-face', $sp-team-michael-face, $sp-team-michael-face-2x, );
$sp-team-michael-full-group-name: 'sp-team-michael-full';
$sp-team-michael-full-group: ('sp-team-michael-full', $sp-team-michael-full, $sp-team-michael-full-2x, );
$sp-team-mino-face-group-name: 'sp-team-mino-face';
$sp-team-mino-face-group: ('sp-team-mino-face', $sp-team-mino-face, $sp-team-mino-face-2x, );
$sp-team-mino-full-group-name: 'sp-team-mino-full';
$sp-team-mino-full-group: ('sp-team-mino-full', $sp-team-mino-full, $sp-team-mino-full-2x, );
$sp-team-sujin-face-group-name: 'sp-team-sujin-face';
$sp-team-sujin-face-group: ('sp-team-sujin-face', $sp-team-sujin-face, $sp-team-sujin-face-2x, );
$sp-team-sujin-full-group-name: 'sp-team-sujin-full';
$sp-team-sujin-full-group: ('sp-team-sujin-full', $sp-team-sujin-full, $sp-team-sujin-full-2x, );
$sp-team-suzy-face-group-name: 'sp-team-suzy-face';
$sp-team-suzy-face-group: ('sp-team-suzy-face', $sp-team-suzy-face, $sp-team-suzy-face-2x, );
$sp-team-suzy-full-group-name: 'sp-team-suzy-full';
$sp-team-suzy-full-group: ('sp-team-suzy-full', $sp-team-suzy-full, $sp-team-suzy-full-2x, );
$sp-team-tapamon-face-group-name: 'sp-team-tapamon-face';
$sp-team-tapamon-face-group: ('sp-team-tapamon-face', $sp-team-tapamon-face, $sp-team-tapamon-face-2x, );
$sp-team-tapamon-full-group-name: 'sp-team-tapamon-full';
$sp-team-tapamon-full-group: ('sp-team-tapamon-full', $sp-team-tapamon-full, $sp-team-tapamon-full-2x, );
$sp-team-thomas-face-group-name: 'sp-team-thomas-face';
$sp-team-thomas-face-group: ('sp-team-thomas-face', $sp-team-thomas-face, $sp-team-thomas-face-2x, );
$sp-team-thomas-full-group-name: 'sp-team-thomas-full';
$sp-team-thomas-full-group: ('sp-team-thomas-full', $sp-team-thomas-full, $sp-team-thomas-full-2x, );
$sp-team-yoon-face-group-name: 'sp-team-yoon-face';
$sp-team-yoon-face-group: ('sp-team-yoon-face', $sp-team-yoon-face, $sp-team-yoon-face-2x, );
$sp-team-yoon-full-group-name: 'sp-team-yoon-full';
$sp-team-yoon-full-group: ('sp-team-yoon-full', $sp-team-yoon-full, $sp-team-yoon-full-2x, );
$sp-team-retina-groups: ($sp-team-adrienne-face-group, $sp-team-adrienne-full-group, $sp-team-chang-face-group, $sp-team-chang-full-group, $sp-team-daron-face-group, $sp-team-daron-full-group, $sp-team-gabby-face-group, $sp-team-gabby-full-group, $sp-team-hyo-face-group, $sp-team-hyo-full-group, $sp-team-jessica-face-group, $sp-team-jessica-full-group, $sp-team-josh-face-group, $sp-team-josh-full-group, $sp-team-michael-face-group, $sp-team-michael-full-group, $sp-team-mino-face-group, $sp-team-mino-full-group, $sp-team-sujin-face-group, $sp-team-sujin-full-group, $sp-team-suzy-face-group, $sp-team-suzy-full-group, $sp-team-tapamon-face-group, $sp-team-tapamon-full-group, $sp-team-thomas-face-group, $sp-team-thomas-full-group, $sp-team-yoon-face-group, $sp-team-yoon-full-group, );


