/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$sp-bg-phoneframe-name: 'sp-bg-phoneframe';
$sp-bg-phoneframe-x: 0px;
$sp-bg-phoneframe-y: 0px;
$sp-bg-phoneframe-offset-x: 0px;
$sp-bg-phoneframe-offset-y: 0px;
$sp-bg-phoneframe-width: 344px;
$sp-bg-phoneframe-height: 512px;
$sp-bg-phoneframe-total-width: 824px;
$sp-bg-phoneframe-total-height: 732px;
$sp-bg-phoneframe-image: '/public/images/sprites.png';
$sp-bg-phoneframe: (0px, 0px, 0px, 0px, 344px, 512px, 824px, 732px, '/public/images/sprites.png', 'sp-bg-phoneframe', );
$sp-bg-tapaspocket-name: 'sp-bg-tapaspocket';
$sp-bg-tapaspocket-x: 74px;
$sp-bg-tapaspocket-y: 660px;
$sp-bg-tapaspocket-offset-x: -74px;
$sp-bg-tapaspocket-offset-y: -660px;
$sp-bg-tapaspocket-width: 62px;
$sp-bg-tapaspocket-height: 68px;
$sp-bg-tapaspocket-total-width: 824px;
$sp-bg-tapaspocket-total-height: 732px;
$sp-bg-tapaspocket-image: '/public/images/sprites.png';
$sp-bg-tapaspocket: (74px, 660px, -74px, -660px, 62px, 68px, 824px, 732px, '/public/images/sprites.png', 'sp-bg-tapaspocket', );
$sp-get-appstore-name: 'sp-get-appstore';
$sp-get-appstore-x: 527px;
$sp-get-appstore-y: 514px;
$sp-get-appstore-offset-x: -527px;
$sp-get-appstore-offset-y: -514px;
$sp-get-appstore-width: 145px;
$sp-get-appstore-height: 39px;
$sp-get-appstore-total-width: 824px;
$sp-get-appstore-total-height: 732px;
$sp-get-appstore-image: '/public/images/sprites.png';
$sp-get-appstore: (527px, 514px, -527px, -514px, 145px, 39px, 824px, 732px, '/public/images/sprites.png', 'sp-get-appstore', );
$sp-get-googleplay-name: 'sp-get-googleplay';
$sp-get-googleplay-x: 361px;
$sp-get-googleplay-y: 514px;
$sp-get-googleplay-offset-x: -361px;
$sp-get-googleplay-offset-y: -514px;
$sp-get-googleplay-width: 164px;
$sp-get-googleplay-height: 44px;
$sp-get-googleplay-total-width: 824px;
$sp-get-googleplay-total-height: 732px;
$sp-get-googleplay-image: '/public/images/sprites.png';
$sp-get-googleplay: (361px, 514px, -361px, -514px, 164px, 44px, 824px, 732px, '/public/images/sprites.png', 'sp-get-googleplay', );
$sp-ico-appstore-name: 'sp-ico-appstore';
$sp-ico-appstore-x: 432px;
$sp-ico-appstore-y: 476px;
$sp-ico-appstore-offset-x: -432px;
$sp-ico-appstore-offset-y: -476px;
$sp-ico-appstore-width: 27px;
$sp-ico-appstore-height: 32px;
$sp-ico-appstore-total-width: 824px;
$sp-ico-appstore-total-height: 732px;
$sp-ico-appstore-image: '/public/images/sprites.png';
$sp-ico-appstore: (432px, 476px, -432px, -476px, 27px, 32px, 824px, 732px, '/public/images/sprites.png', 'sp-ico-appstore', );
$sp-ico-googleplay-name: 'sp-ico-googleplay';
$sp-ico-googleplay-x: 771px;
$sp-ico-googleplay-y: 458px;
$sp-ico-googleplay-offset-x: -771px;
$sp-ico-googleplay-offset-y: -458px;
$sp-ico-googleplay-width: 31px;
$sp-ico-googleplay-height: 34px;
$sp-ico-googleplay-total-width: 824px;
$sp-ico-googleplay-total-height: 732px;
$sp-ico-googleplay-image: '/public/images/sprites.png';
$sp-ico-googleplay: (771px, 458px, -771px, -458px, 31px, 34px, 824px, 732px, '/public/images/sprites.png', 'sp-ico-googleplay', );
$sp-ico-tapas-name: 'sp-ico-tapas';
$sp-ico-tapas-x: 0px;
$sp-ico-tapas-y: 660px;
$sp-ico-tapas-offset-x: 0px;
$sp-ico-tapas-offset-y: -660px;
$sp-ico-tapas-width: 72px;
$sp-ico-tapas-height: 72px;
$sp-ico-tapas-total-width: 824px;
$sp-ico-tapas-total-height: 732px;
$sp-ico-tapas-image: '/public/images/sprites.png';
$sp-ico-tapas: (0px, 660px, 0px, -660px, 72px, 72px, 824px, 732px, '/public/images/sprites.png', 'sp-ico-tapas', );
$sp-logo-tapas-name: 'sp-logo-tapas';
$sp-logo-tapas-x: 346px;
$sp-logo-tapas-y: 402px;
$sp-logo-tapas-offset-x: -346px;
$sp-logo-tapas-offset-y: -402px;
$sp-logo-tapas-width: 200px;
$sp-logo-tapas-height: 72px;
$sp-logo-tapas-total-width: 824px;
$sp-logo-tapas-total-height: 732px;
$sp-logo-tapas-image: '/public/images/sprites.png';
$sp-logo-tapas: (346px, 402px, -346px, -402px, 200px, 72px, 824px, 732px, '/public/images/sprites.png', 'sp-logo-tapas', );
$sp-majortapas-name: 'sp-majortapas';
$sp-majortapas-x: 346px;
$sp-majortapas-y: 0px;
$sp-majortapas-offset-x: -346px;
$sp-majortapas-offset-y: 0px;
$sp-majortapas-width: 246px;
$sp-majortapas-height: 400px;
$sp-majortapas-total-width: 824px;
$sp-majortapas-total-height: 732px;
$sp-majortapas-image: '/public/images/sprites.png';
$sp-majortapas: (346px, 0px, -346px, 0px, 246px, 400px, 824px, 732px, '/public/images/sprites.png', 'sp-majortapas', );
$sp-media-factsheet-name: 'sp-media-factsheet';
$sp-media-factsheet-x: 279px;
$sp-media-factsheet-y: 514px;
$sp-media-factsheet-offset-x: -279px;
$sp-media-factsheet-offset-y: -514px;
$sp-media-factsheet-width: 80px;
$sp-media-factsheet-height: 108px;
$sp-media-factsheet-total-width: 824px;
$sp-media-factsheet-total-height: 732px;
$sp-media-factsheet-image: '/public/images/sprites.png';
$sp-media-factsheet: (279px, 514px, -279px, -514px, 80px, 108px, 824px, 732px, '/public/images/sprites.png', 'sp-media-factsheet', );
$sp-media-logoart-name: 'sp-media-logoart';
$sp-media-logoart-x: 169px;
$sp-media-logoart-y: 514px;
$sp-media-logoart-offset-x: -169px;
$sp-media-logoart-offset-y: -514px;
$sp-media-logoart-width: 108px;
$sp-media-logoart-height: 108px;
$sp-media-logoart-total-width: 824px;
$sp-media-logoart-total-height: 732px;
$sp-media-logoart-image: '/public/images/sprites.png';
$sp-media-logoart: (169px, 514px, -169px, -514px, 108px, 108px, 824px, 732px, '/public/images/sprites.png', 'sp-media-logoart', );
$sp-media-screenshots-name: 'sp-media-screenshots';
$sp-media-screenshots-x: 771px;
$sp-media-screenshots-y: 348px;
$sp-media-screenshots-offset-x: -771px;
$sp-media-screenshots-offset-y: -348px;
$sp-media-screenshots-width: 52px;
$sp-media-screenshots-height: 108px;
$sp-media-screenshots-total-width: 824px;
$sp-media-screenshots-total-height: 732px;
$sp-media-screenshots-image: '/public/images/sprites.png';
$sp-media-screenshots: (771px, 348px, -771px, -348px, 52px, 108px, 824px, 732px, '/public/images/sprites.png', 'sp-media-screenshots', );
$sp-small-ico-tapas-name: 'sp-small-ico-tapas';
$sp-small-ico-tapas-x: 776px;
$sp-small-ico-tapas-y: 202px;
$sp-small-ico-tapas-offset-x: -776px;
$sp-small-ico-tapas-offset-y: -202px;
$sp-small-ico-tapas-width: 40px;
$sp-small-ico-tapas-height: 41px;
$sp-small-ico-tapas-total-width: 824px;
$sp-small-ico-tapas-total-height: 732px;
$sp-small-ico-tapas-image: '/public/images/sprites.png';
$sp-small-ico-tapas: (776px, 202px, -776px, -202px, 40px, 41px, 824px, 732px, '/public/images/sprites.png', 'sp-small-ico-tapas', );
$sp-small-logo-tapas-name: 'sp-small-logo-tapas';
$sp-small-logo-tapas-x: 346px;
$sp-small-logo-tapas-y: 476px;
$sp-small-logo-tapas-offset-x: -346px;
$sp-small-logo-tapas-offset-y: -476px;
$sp-small-logo-tapas-width: 84px;
$sp-small-logo-tapas-height: 32px;
$sp-small-logo-tapas-total-width: 824px;
$sp-small-logo-tapas-total-height: 732px;
$sp-small-logo-tapas-image: '/public/images/sprites.png';
$sp-small-logo-tapas: (346px, 476px, -346px, -476px, 84px, 32px, 824px, 732px, '/public/images/sprites.png', 'sp-small-logo-tapas', );
$sp-social-fb-name: 'sp-social-fb';
$sp-social-fb-x: 361px;
$sp-social-fb-y: 560px;
$sp-social-fb-offset-x: -361px;
$sp-social-fb-offset-y: -560px;
$sp-social-fb-width: 40px;
$sp-social-fb-height: 40px;
$sp-social-fb-total-width: 824px;
$sp-social-fb-total-height: 732px;
$sp-social-fb-image: '/public/images/sprites.png';
$sp-social-fb: (361px, 560px, -361px, -560px, 40px, 40px, 824px, 732px, '/public/images/sprites.png', 'sp-social-fb', );
$sp-social-ig-name: 'sp-social-ig';
$sp-social-ig-x: 548px;
$sp-social-ig-y: 402px;
$sp-social-ig-offset-x: -548px;
$sp-social-ig-offset-y: -402px;
$sp-social-ig-width: 40px;
$sp-social-ig-height: 40px;
$sp-social-ig-total-width: 824px;
$sp-social-ig-total-height: 732px;
$sp-social-ig-image: '/public/images/sprites.png';
$sp-social-ig: (548px, 402px, -548px, -402px, 40px, 40px, 824px, 732px, '/public/images/sprites.png', 'sp-social-ig', );
$sp-social-md-name: 'sp-social-md';
$sp-social-md-x: 776px;
$sp-social-md-y: 245px;
$sp-social-md-offset-x: -776px;
$sp-social-md-offset-y: -245px;
$sp-social-md-width: 40px;
$sp-social-md-height: 40px;
$sp-social-md-total-width: 824px;
$sp-social-md-total-height: 732px;
$sp-social-md-image: '/public/images/sprites.png';
$sp-social-md: (776px, 245px, -776px, -245px, 40px, 40px, 824px, 732px, '/public/images/sprites.png', 'sp-social-md', );
$sp-social-tb-name: 'sp-social-tb';
$sp-social-tb-x: 403px;
$sp-social-tb-y: 560px;
$sp-social-tb-offset-x: -403px;
$sp-social-tb-offset-y: -560px;
$sp-social-tb-width: 40px;
$sp-social-tb-height: 40px;
$sp-social-tb-total-width: 824px;
$sp-social-tb-total-height: 732px;
$sp-social-tb-image: '/public/images/sprites.png';
$sp-social-tb: (403px, 560px, -403px, -560px, 40px, 40px, 824px, 732px, '/public/images/sprites.png', 'sp-social-tb', );
$sp-social-tw-name: 'sp-social-tw';
$sp-social-tw-x: 776px;
$sp-social-tw-y: 287px;
$sp-social-tw-offset-x: -776px;
$sp-social-tw-offset-y: -287px;
$sp-social-tw-width: 40px;
$sp-social-tw-height: 40px;
$sp-social-tw-total-width: 824px;
$sp-social-tw-total-height: 732px;
$sp-social-tw-image: '/public/images/sprites.png';
$sp-social-tw: (776px, 287px, -776px, -287px, 40px, 40px, 824px, 732px, '/public/images/sprites.png', 'sp-social-tw', );
$sp-tapamon-ooh-name: 'sp-tapamon-ooh';
$sp-tapamon-ooh-x: 594px;
$sp-tapamon-ooh-y: 348px;
$sp-tapamon-ooh-offset-x: -594px;
$sp-tapamon-ooh-offset-y: -348px;
$sp-tapamon-ooh-width: 175px;
$sp-tapamon-ooh-height: 144px;
$sp-tapamon-ooh-total-width: 824px;
$sp-tapamon-ooh-total-height: 732px;
$sp-tapamon-ooh-image: '/public/images/sprites.png';
$sp-tapamon-ooh: (594px, 348px, -594px, -348px, 175px, 144px, 824px, 732px, '/public/images/sprites.png', 'sp-tapamon-ooh', );
$sp-tapamon-taptap-name: 'sp-tapamon-taptap';
$sp-tapamon-taptap-x: 0px;
$sp-tapamon-taptap-y: 514px;
$sp-tapamon-taptap-offset-x: 0px;
$sp-tapamon-taptap-offset-y: -514px;
$sp-tapamon-taptap-width: 167px;
$sp-tapamon-taptap-height: 144px;
$sp-tapamon-taptap-total-width: 824px;
$sp-tapamon-taptap-total-height: 732px;
$sp-tapamon-taptap-image: '/public/images/sprites.png';
$sp-tapamon-taptap: (0px, 514px, 0px, -514px, 167px, 144px, 824px, 732px, '/public/images/sprites.png', 'sp-tapamon-taptap', );
$sp-tapamon-yay-name: 'sp-tapamon-yay';
$sp-tapamon-yay-x: 594px;
$sp-tapamon-yay-y: 202px;
$sp-tapamon-yay-offset-x: -594px;
$sp-tapamon-yay-offset-y: -202px;
$sp-tapamon-yay-width: 180px;
$sp-tapamon-yay-height: 144px;
$sp-tapamon-yay-total-width: 824px;
$sp-tapamon-yay-total-height: 732px;
$sp-tapamon-yay-image: '/public/images/sprites.png';
$sp-tapamon-yay: (594px, 202px, -594px, -202px, 180px, 144px, 824px, 732px, '/public/images/sprites.png', 'sp-tapamon-yay', );
$sp-uhohguy-name: 'sp-uhohguy';
$sp-uhohguy-x: 594px;
$sp-uhohguy-y: 0px;
$sp-uhohguy-offset-x: -594px;
$sp-uhohguy-offset-y: 0px;
$sp-uhohguy-width: 230px;
$sp-uhohguy-height: 200px;
$sp-uhohguy-total-width: 824px;
$sp-uhohguy-total-height: 732px;
$sp-uhohguy-image: '/public/images/sprites.png';
$sp-uhohguy: (594px, 0px, -594px, 0px, 230px, 200px, 824px, 732px, '/public/images/sprites.png', 'sp-uhohguy', );
$sp-bg-phoneframe-2x-name: 'sp-bg-phoneframe-2x';
$sp-bg-phoneframe-2x-x: 0px;
$sp-bg-phoneframe-2x-y: 0px;
$sp-bg-phoneframe-2x-offset-x: 0px;
$sp-bg-phoneframe-2x-offset-y: 0px;
$sp-bg-phoneframe-2x-width: 688px;
$sp-bg-phoneframe-2x-height: 1024px;
$sp-bg-phoneframe-2x-total-width: 1648px;
$sp-bg-phoneframe-2x-total-height: 1464px;
$sp-bg-phoneframe-2x-image: '/public/images/sprites-2x.png';
$sp-bg-phoneframe-2x: (0px, 0px, 0px, 0px, 688px, 1024px, 1648px, 1464px, '/public/images/sprites-2x.png', 'sp-bg-phoneframe-2x', );
$sp-bg-tapaspocket-2x-name: 'sp-bg-tapaspocket-2x';
$sp-bg-tapaspocket-2x-x: 148px;
$sp-bg-tapaspocket-2x-y: 1320px;
$sp-bg-tapaspocket-2x-offset-x: -148px;
$sp-bg-tapaspocket-2x-offset-y: -1320px;
$sp-bg-tapaspocket-2x-width: 124px;
$sp-bg-tapaspocket-2x-height: 136px;
$sp-bg-tapaspocket-2x-total-width: 1648px;
$sp-bg-tapaspocket-2x-total-height: 1464px;
$sp-bg-tapaspocket-2x-image: '/public/images/sprites-2x.png';
$sp-bg-tapaspocket-2x: (148px, 1320px, -148px, -1320px, 124px, 136px, 1648px, 1464px, '/public/images/sprites-2x.png', 'sp-bg-tapaspocket-2x', );
$sp-get-appstore-2x-name: 'sp-get-appstore-2x';
$sp-get-appstore-2x-x: 1054px;
$sp-get-appstore-2x-y: 1028px;
$sp-get-appstore-2x-offset-x: -1054px;
$sp-get-appstore-2x-offset-y: -1028px;
$sp-get-appstore-2x-width: 290px;
$sp-get-appstore-2x-height: 78px;
$sp-get-appstore-2x-total-width: 1648px;
$sp-get-appstore-2x-total-height: 1464px;
$sp-get-appstore-2x-image: '/public/images/sprites-2x.png';
$sp-get-appstore-2x: (1054px, 1028px, -1054px, -1028px, 290px, 78px, 1648px, 1464px, '/public/images/sprites-2x.png', 'sp-get-appstore-2x', );
$sp-get-googleplay-2x-name: 'sp-get-googleplay-2x';
$sp-get-googleplay-2x-x: 722px;
$sp-get-googleplay-2x-y: 1028px;
$sp-get-googleplay-2x-offset-x: -722px;
$sp-get-googleplay-2x-offset-y: -1028px;
$sp-get-googleplay-2x-width: 328px;
$sp-get-googleplay-2x-height: 88px;
$sp-get-googleplay-2x-total-width: 1648px;
$sp-get-googleplay-2x-total-height: 1464px;
$sp-get-googleplay-2x-image: '/public/images/sprites-2x.png';
$sp-get-googleplay-2x: (722px, 1028px, -722px, -1028px, 328px, 88px, 1648px, 1464px, '/public/images/sprites-2x.png', 'sp-get-googleplay-2x', );
$sp-ico-appstore-2x-name: 'sp-ico-appstore-2x';
$sp-ico-appstore-2x-x: 864px;
$sp-ico-appstore-2x-y: 952px;
$sp-ico-appstore-2x-offset-x: -864px;
$sp-ico-appstore-2x-offset-y: -952px;
$sp-ico-appstore-2x-width: 54px;
$sp-ico-appstore-2x-height: 64px;
$sp-ico-appstore-2x-total-width: 1648px;
$sp-ico-appstore-2x-total-height: 1464px;
$sp-ico-appstore-2x-image: '/public/images/sprites-2x.png';
$sp-ico-appstore-2x: (864px, 952px, -864px, -952px, 54px, 64px, 1648px, 1464px, '/public/images/sprites-2x.png', 'sp-ico-appstore-2x', );
$sp-ico-googleplay-2x-name: 'sp-ico-googleplay-2x';
$sp-ico-googleplay-2x-x: 1542px;
$sp-ico-googleplay-2x-y: 916px;
$sp-ico-googleplay-2x-offset-x: -1542px;
$sp-ico-googleplay-2x-offset-y: -916px;
$sp-ico-googleplay-2x-width: 62px;
$sp-ico-googleplay-2x-height: 68px;
$sp-ico-googleplay-2x-total-width: 1648px;
$sp-ico-googleplay-2x-total-height: 1464px;
$sp-ico-googleplay-2x-image: '/public/images/sprites-2x.png';
$sp-ico-googleplay-2x: (1542px, 916px, -1542px, -916px, 62px, 68px, 1648px, 1464px, '/public/images/sprites-2x.png', 'sp-ico-googleplay-2x', );
$sp-ico-tapas-2x-name: 'sp-ico-tapas-2x';
$sp-ico-tapas-2x-x: 0px;
$sp-ico-tapas-2x-y: 1320px;
$sp-ico-tapas-2x-offset-x: 0px;
$sp-ico-tapas-2x-offset-y: -1320px;
$sp-ico-tapas-2x-width: 144px;
$sp-ico-tapas-2x-height: 144px;
$sp-ico-tapas-2x-total-width: 1648px;
$sp-ico-tapas-2x-total-height: 1464px;
$sp-ico-tapas-2x-image: '/public/images/sprites-2x.png';
$sp-ico-tapas-2x: (0px, 1320px, 0px, -1320px, 144px, 144px, 1648px, 1464px, '/public/images/sprites-2x.png', 'sp-ico-tapas-2x', );
$sp-logo-tapas-2x-name: 'sp-logo-tapas-2x';
$sp-logo-tapas-2x-x: 692px;
$sp-logo-tapas-2x-y: 804px;
$sp-logo-tapas-2x-offset-x: -692px;
$sp-logo-tapas-2x-offset-y: -804px;
$sp-logo-tapas-2x-width: 400px;
$sp-logo-tapas-2x-height: 144px;
$sp-logo-tapas-2x-total-width: 1648px;
$sp-logo-tapas-2x-total-height: 1464px;
$sp-logo-tapas-2x-image: '/public/images/sprites-2x.png';
$sp-logo-tapas-2x: (692px, 804px, -692px, -804px, 400px, 144px, 1648px, 1464px, '/public/images/sprites-2x.png', 'sp-logo-tapas-2x', );
$sp-majortapas-2x-name: 'sp-majortapas-2x';
$sp-majortapas-2x-x: 692px;
$sp-majortapas-2x-y: 0px;
$sp-majortapas-2x-offset-x: -692px;
$sp-majortapas-2x-offset-y: 0px;
$sp-majortapas-2x-width: 492px;
$sp-majortapas-2x-height: 800px;
$sp-majortapas-2x-total-width: 1648px;
$sp-majortapas-2x-total-height: 1464px;
$sp-majortapas-2x-image: '/public/images/sprites-2x.png';
$sp-majortapas-2x: (692px, 0px, -692px, 0px, 492px, 800px, 1648px, 1464px, '/public/images/sprites-2x.png', 'sp-majortapas-2x', );
$sp-media-factsheet-2x-name: 'sp-media-factsheet-2x';
$sp-media-factsheet-2x-x: 558px;
$sp-media-factsheet-2x-y: 1028px;
$sp-media-factsheet-2x-offset-x: -558px;
$sp-media-factsheet-2x-offset-y: -1028px;
$sp-media-factsheet-2x-width: 160px;
$sp-media-factsheet-2x-height: 216px;
$sp-media-factsheet-2x-total-width: 1648px;
$sp-media-factsheet-2x-total-height: 1464px;
$sp-media-factsheet-2x-image: '/public/images/sprites-2x.png';
$sp-media-factsheet-2x: (558px, 1028px, -558px, -1028px, 160px, 216px, 1648px, 1464px, '/public/images/sprites-2x.png', 'sp-media-factsheet-2x', );
$sp-media-logoart-2x-name: 'sp-media-logoart-2x';
$sp-media-logoart-2x-x: 338px;
$sp-media-logoart-2x-y: 1028px;
$sp-media-logoart-2x-offset-x: -338px;
$sp-media-logoart-2x-offset-y: -1028px;
$sp-media-logoart-2x-width: 216px;
$sp-media-logoart-2x-height: 216px;
$sp-media-logoart-2x-total-width: 1648px;
$sp-media-logoart-2x-total-height: 1464px;
$sp-media-logoart-2x-image: '/public/images/sprites-2x.png';
$sp-media-logoart-2x: (338px, 1028px, -338px, -1028px, 216px, 216px, 1648px, 1464px, '/public/images/sprites-2x.png', 'sp-media-logoart-2x', );
$sp-media-screenshots-2x-name: 'sp-media-screenshots-2x';
$sp-media-screenshots-2x-x: 1542px;
$sp-media-screenshots-2x-y: 696px;
$sp-media-screenshots-2x-offset-x: -1542px;
$sp-media-screenshots-2x-offset-y: -696px;
$sp-media-screenshots-2x-width: 104px;
$sp-media-screenshots-2x-height: 216px;
$sp-media-screenshots-2x-total-width: 1648px;
$sp-media-screenshots-2x-total-height: 1464px;
$sp-media-screenshots-2x-image: '/public/images/sprites-2x.png';
$sp-media-screenshots-2x: (1542px, 696px, -1542px, -696px, 104px, 216px, 1648px, 1464px, '/public/images/sprites-2x.png', 'sp-media-screenshots-2x', );
$sp-small-ico-tapas-2x-name: 'sp-small-ico-tapas-2x';
$sp-small-ico-tapas-2x-x: 1552px;
$sp-small-ico-tapas-2x-y: 404px;
$sp-small-ico-tapas-2x-offset-x: -1552px;
$sp-small-ico-tapas-2x-offset-y: -404px;
$sp-small-ico-tapas-2x-width: 80px;
$sp-small-ico-tapas-2x-height: 82px;
$sp-small-ico-tapas-2x-total-width: 1648px;
$sp-small-ico-tapas-2x-total-height: 1464px;
$sp-small-ico-tapas-2x-image: '/public/images/sprites-2x.png';
$sp-small-ico-tapas-2x: (1552px, 404px, -1552px, -404px, 80px, 82px, 1648px, 1464px, '/public/images/sprites-2x.png', 'sp-small-ico-tapas-2x', );
$sp-small-logo-tapas-2x-name: 'sp-small-logo-tapas-2x';
$sp-small-logo-tapas-2x-x: 692px;
$sp-small-logo-tapas-2x-y: 952px;
$sp-small-logo-tapas-2x-offset-x: -692px;
$sp-small-logo-tapas-2x-offset-y: -952px;
$sp-small-logo-tapas-2x-width: 168px;
$sp-small-logo-tapas-2x-height: 64px;
$sp-small-logo-tapas-2x-total-width: 1648px;
$sp-small-logo-tapas-2x-total-height: 1464px;
$sp-small-logo-tapas-2x-image: '/public/images/sprites-2x.png';
$sp-small-logo-tapas-2x: (692px, 952px, -692px, -952px, 168px, 64px, 1648px, 1464px, '/public/images/sprites-2x.png', 'sp-small-logo-tapas-2x', );
$sp-social-fb-2x-name: 'sp-social-fb-2x';
$sp-social-fb-2x-x: 722px;
$sp-social-fb-2x-y: 1120px;
$sp-social-fb-2x-offset-x: -722px;
$sp-social-fb-2x-offset-y: -1120px;
$sp-social-fb-2x-width: 80px;
$sp-social-fb-2x-height: 80px;
$sp-social-fb-2x-total-width: 1648px;
$sp-social-fb-2x-total-height: 1464px;
$sp-social-fb-2x-image: '/public/images/sprites-2x.png';
$sp-social-fb-2x: (722px, 1120px, -722px, -1120px, 80px, 80px, 1648px, 1464px, '/public/images/sprites-2x.png', 'sp-social-fb-2x', );
$sp-social-ig-2x-name: 'sp-social-ig-2x';
$sp-social-ig-2x-x: 1096px;
$sp-social-ig-2x-y: 804px;
$sp-social-ig-2x-offset-x: -1096px;
$sp-social-ig-2x-offset-y: -804px;
$sp-social-ig-2x-width: 80px;
$sp-social-ig-2x-height: 80px;
$sp-social-ig-2x-total-width: 1648px;
$sp-social-ig-2x-total-height: 1464px;
$sp-social-ig-2x-image: '/public/images/sprites-2x.png';
$sp-social-ig-2x: (1096px, 804px, -1096px, -804px, 80px, 80px, 1648px, 1464px, '/public/images/sprites-2x.png', 'sp-social-ig-2x', );
$sp-social-md-2x-name: 'sp-social-md-2x';
$sp-social-md-2x-x: 1552px;
$sp-social-md-2x-y: 490px;
$sp-social-md-2x-offset-x: -1552px;
$sp-social-md-2x-offset-y: -490px;
$sp-social-md-2x-width: 80px;
$sp-social-md-2x-height: 80px;
$sp-social-md-2x-total-width: 1648px;
$sp-social-md-2x-total-height: 1464px;
$sp-social-md-2x-image: '/public/images/sprites-2x.png';
$sp-social-md-2x: (1552px, 490px, -1552px, -490px, 80px, 80px, 1648px, 1464px, '/public/images/sprites-2x.png', 'sp-social-md-2x', );
$sp-social-tb-2x-name: 'sp-social-tb-2x';
$sp-social-tb-2x-x: 806px;
$sp-social-tb-2x-y: 1120px;
$sp-social-tb-2x-offset-x: -806px;
$sp-social-tb-2x-offset-y: -1120px;
$sp-social-tb-2x-width: 80px;
$sp-social-tb-2x-height: 80px;
$sp-social-tb-2x-total-width: 1648px;
$sp-social-tb-2x-total-height: 1464px;
$sp-social-tb-2x-image: '/public/images/sprites-2x.png';
$sp-social-tb-2x: (806px, 1120px, -806px, -1120px, 80px, 80px, 1648px, 1464px, '/public/images/sprites-2x.png', 'sp-social-tb-2x', );
$sp-social-tw-2x-name: 'sp-social-tw-2x';
$sp-social-tw-2x-x: 1552px;
$sp-social-tw-2x-y: 574px;
$sp-social-tw-2x-offset-x: -1552px;
$sp-social-tw-2x-offset-y: -574px;
$sp-social-tw-2x-width: 80px;
$sp-social-tw-2x-height: 80px;
$sp-social-tw-2x-total-width: 1648px;
$sp-social-tw-2x-total-height: 1464px;
$sp-social-tw-2x-image: '/public/images/sprites-2x.png';
$sp-social-tw-2x: (1552px, 574px, -1552px, -574px, 80px, 80px, 1648px, 1464px, '/public/images/sprites-2x.png', 'sp-social-tw-2x', );
$sp-tapamon-ooh-2x-name: 'sp-tapamon-ooh-2x';
$sp-tapamon-ooh-2x-x: 1188px;
$sp-tapamon-ooh-2x-y: 696px;
$sp-tapamon-ooh-2x-offset-x: -1188px;
$sp-tapamon-ooh-2x-offset-y: -696px;
$sp-tapamon-ooh-2x-width: 350px;
$sp-tapamon-ooh-2x-height: 288px;
$sp-tapamon-ooh-2x-total-width: 1648px;
$sp-tapamon-ooh-2x-total-height: 1464px;
$sp-tapamon-ooh-2x-image: '/public/images/sprites-2x.png';
$sp-tapamon-ooh-2x: (1188px, 696px, -1188px, -696px, 350px, 288px, 1648px, 1464px, '/public/images/sprites-2x.png', 'sp-tapamon-ooh-2x', );
$sp-tapamon-taptap-2x-name: 'sp-tapamon-taptap-2x';
$sp-tapamon-taptap-2x-x: 0px;
$sp-tapamon-taptap-2x-y: 1028px;
$sp-tapamon-taptap-2x-offset-x: 0px;
$sp-tapamon-taptap-2x-offset-y: -1028px;
$sp-tapamon-taptap-2x-width: 334px;
$sp-tapamon-taptap-2x-height: 288px;
$sp-tapamon-taptap-2x-total-width: 1648px;
$sp-tapamon-taptap-2x-total-height: 1464px;
$sp-tapamon-taptap-2x-image: '/public/images/sprites-2x.png';
$sp-tapamon-taptap-2x: (0px, 1028px, 0px, -1028px, 334px, 288px, 1648px, 1464px, '/public/images/sprites-2x.png', 'sp-tapamon-taptap-2x', );
$sp-tapamon-yay-2x-name: 'sp-tapamon-yay-2x';
$sp-tapamon-yay-2x-x: 1188px;
$sp-tapamon-yay-2x-y: 404px;
$sp-tapamon-yay-2x-offset-x: -1188px;
$sp-tapamon-yay-2x-offset-y: -404px;
$sp-tapamon-yay-2x-width: 360px;
$sp-tapamon-yay-2x-height: 288px;
$sp-tapamon-yay-2x-total-width: 1648px;
$sp-tapamon-yay-2x-total-height: 1464px;
$sp-tapamon-yay-2x-image: '/public/images/sprites-2x.png';
$sp-tapamon-yay-2x: (1188px, 404px, -1188px, -404px, 360px, 288px, 1648px, 1464px, '/public/images/sprites-2x.png', 'sp-tapamon-yay-2x', );
$sp-uhohguy-2x-name: 'sp-uhohguy-2x';
$sp-uhohguy-2x-x: 1188px;
$sp-uhohguy-2x-y: 0px;
$sp-uhohguy-2x-offset-x: -1188px;
$sp-uhohguy-2x-offset-y: 0px;
$sp-uhohguy-2x-width: 460px;
$sp-uhohguy-2x-height: 400px;
$sp-uhohguy-2x-total-width: 1648px;
$sp-uhohguy-2x-total-height: 1464px;
$sp-uhohguy-2x-image: '/public/images/sprites-2x.png';
$sp-uhohguy-2x: (1188px, 0px, -1188px, 0px, 460px, 400px, 1648px, 1464px, '/public/images/sprites-2x.png', 'sp-uhohguy-2x', );
$sp-width: 824px;
$sp-height: 732px;
$sp-image: '/public/images/sprites.png';
$sp-sprites: ($sp-bg-phoneframe, $sp-bg-tapaspocket, $sp-get-appstore, $sp-get-googleplay, $sp-ico-appstore, $sp-ico-googleplay, $sp-ico-tapas, $sp-logo-tapas, $sp-majortapas, $sp-media-factsheet, $sp-media-logoart, $sp-media-screenshots, $sp-small-ico-tapas, $sp-small-logo-tapas, $sp-social-fb, $sp-social-ig, $sp-social-md, $sp-social-tb, $sp-social-tw, $sp-tapamon-ooh, $sp-tapamon-taptap, $sp-tapamon-yay, $sp-uhohguy, );
$sp: (824px, 732px, '/public/images/sprites.png', $sp-sprites, );
$retina-spritesheet-width: 1648px;
$retina-spritesheet-height: 1464px;
$retina-spritesheet-image: '/public/images/sprites-2x.png';
$retina-spritesheet-sprites: ($sp-bg-phoneframe-2x, $sp-bg-tapaspocket-2x, $sp-get-appstore-2x, $sp-get-googleplay-2x, $sp-ico-appstore-2x, $sp-ico-googleplay-2x, $sp-ico-tapas-2x, $sp-logo-tapas-2x, $sp-majortapas-2x, $sp-media-factsheet-2x, $sp-media-logoart-2x, $sp-media-screenshots-2x, $sp-small-ico-tapas-2x, $sp-small-logo-tapas-2x, $sp-social-fb-2x, $sp-social-ig-2x, $sp-social-md-2x, $sp-social-tb-2x, $sp-social-tw-2x, $sp-tapamon-ooh-2x, $sp-tapamon-taptap-2x, $sp-tapamon-yay-2x, $sp-uhohguy-2x, );
$retina-spritesheet: (1648px, 1464px, '/public/images/sprites-2x.png', $retina-spritesheet-sprites, );

/*
These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.

The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
*/
$sp-bg-phoneframe-group-name: 'sp-bg-phoneframe';
$sp-bg-phoneframe-group: ('sp-bg-phoneframe', $sp-bg-phoneframe, $sp-bg-phoneframe-2x, );
$sp-bg-tapaspocket-group-name: 'sp-bg-tapaspocket';
$sp-bg-tapaspocket-group: ('sp-bg-tapaspocket', $sp-bg-tapaspocket, $sp-bg-tapaspocket-2x, );
$sp-get-appstore-group-name: 'sp-get-appstore';
$sp-get-appstore-group: ('sp-get-appstore', $sp-get-appstore, $sp-get-appstore-2x, );
$sp-get-googleplay-group-name: 'sp-get-googleplay';
$sp-get-googleplay-group: ('sp-get-googleplay', $sp-get-googleplay, $sp-get-googleplay-2x, );
$sp-ico-appstore-group-name: 'sp-ico-appstore';
$sp-ico-appstore-group: ('sp-ico-appstore', $sp-ico-appstore, $sp-ico-appstore-2x, );
$sp-ico-googleplay-group-name: 'sp-ico-googleplay';
$sp-ico-googleplay-group: ('sp-ico-googleplay', $sp-ico-googleplay, $sp-ico-googleplay-2x, );
$sp-ico-tapas-group-name: 'sp-ico-tapas';
$sp-ico-tapas-group: ('sp-ico-tapas', $sp-ico-tapas, $sp-ico-tapas-2x, );
$sp-logo-tapas-group-name: 'sp-logo-tapas';
$sp-logo-tapas-group: ('sp-logo-tapas', $sp-logo-tapas, $sp-logo-tapas-2x, );
$sp-majortapas-group-name: 'sp-majortapas';
$sp-majortapas-group: ('sp-majortapas', $sp-majortapas, $sp-majortapas-2x, );
$sp-media-factsheet-group-name: 'sp-media-factsheet';
$sp-media-factsheet-group: ('sp-media-factsheet', $sp-media-factsheet, $sp-media-factsheet-2x, );
$sp-media-logoart-group-name: 'sp-media-logoart';
$sp-media-logoart-group: ('sp-media-logoart', $sp-media-logoart, $sp-media-logoart-2x, );
$sp-media-screenshots-group-name: 'sp-media-screenshots';
$sp-media-screenshots-group: ('sp-media-screenshots', $sp-media-screenshots, $sp-media-screenshots-2x, );
$sp-small-ico-tapas-group-name: 'sp-small-ico-tapas';
$sp-small-ico-tapas-group: ('sp-small-ico-tapas', $sp-small-ico-tapas, $sp-small-ico-tapas-2x, );
$sp-small-logo-tapas-group-name: 'sp-small-logo-tapas';
$sp-small-logo-tapas-group: ('sp-small-logo-tapas', $sp-small-logo-tapas, $sp-small-logo-tapas-2x, );
$sp-social-fb-group-name: 'sp-social-fb';
$sp-social-fb-group: ('sp-social-fb', $sp-social-fb, $sp-social-fb-2x, );
$sp-social-ig-group-name: 'sp-social-ig';
$sp-social-ig-group: ('sp-social-ig', $sp-social-ig, $sp-social-ig-2x, );
$sp-social-md-group-name: 'sp-social-md';
$sp-social-md-group: ('sp-social-md', $sp-social-md, $sp-social-md-2x, );
$sp-social-tb-group-name: 'sp-social-tb';
$sp-social-tb-group: ('sp-social-tb', $sp-social-tb, $sp-social-tb-2x, );
$sp-social-tw-group-name: 'sp-social-tw';
$sp-social-tw-group: ('sp-social-tw', $sp-social-tw, $sp-social-tw-2x, );
$sp-tapamon-ooh-group-name: 'sp-tapamon-ooh';
$sp-tapamon-ooh-group: ('sp-tapamon-ooh', $sp-tapamon-ooh, $sp-tapamon-ooh-2x, );
$sp-tapamon-taptap-group-name: 'sp-tapamon-taptap';
$sp-tapamon-taptap-group: ('sp-tapamon-taptap', $sp-tapamon-taptap, $sp-tapamon-taptap-2x, );
$sp-tapamon-yay-group-name: 'sp-tapamon-yay';
$sp-tapamon-yay-group: ('sp-tapamon-yay', $sp-tapamon-yay, $sp-tapamon-yay-2x, );
$sp-uhohguy-group-name: 'sp-uhohguy';
$sp-uhohguy-group: ('sp-uhohguy', $sp-uhohguy, $sp-uhohguy-2x, );
$retina-groups: ($sp-bg-phoneframe-group, $sp-bg-tapaspocket-group, $sp-get-appstore-group, $sp-get-googleplay-group, $sp-ico-appstore-group, $sp-ico-googleplay-group, $sp-ico-tapas-group, $sp-logo-tapas-group, $sp-majortapas-group, $sp-media-factsheet-group, $sp-media-logoart-group, $sp-media-screenshots-group, $sp-small-ico-tapas-group, $sp-small-logo-tapas-group, $sp-social-fb-group, $sp-social-ig-group, $sp-social-md-group, $sp-social-tb-group, $sp-social-tw-group, $sp-tapamon-ooh-group, $sp-tapamon-taptap-group, $sp-tapamon-yay-group, $sp-uhohguy-group, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
  It should be used with a "retina group" variable.

The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/

$icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );

.icon-home {
  @include retina-sprite($icon-home-group);
}
*/
@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

/*
The `retina-sprites` mixin generates a CSS rule and media query for retina groups
  This yields the same output as CSS retina template but can be overridden in SCSS

@include retina-sprites($retina-groups);
*/
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}
