/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$sp-adrienne-face-name: 'sp-adrienne-face';
$sp-adrienne-face-x: 182px;
$sp-adrienne-face-y: 0px;
$sp-adrienne-face-offset-x: -182px;
$sp-adrienne-face-offset-y: 0px;
$sp-adrienne-face-width: 180px;
$sp-adrienne-face-height: 180px;
$sp-adrienne-face-total-width: 908px;
$sp-adrienne-face-total-height: 908px;
$sp-adrienne-face-image: '/public/images/sprites-team.png';
$sp-adrienne-face: (182px, 0px, -182px, 0px, 180px, 180px, 908px, 908px, '/public/images/sprites-team.png', 'sp-adrienne-face', );
$sp-adrienne-full-name: 'sp-adrienne-full';
$sp-adrienne-full-x: 0px;
$sp-adrienne-full-y: 546px;
$sp-adrienne-full-offset-x: 0px;
$sp-adrienne-full-offset-y: -546px;
$sp-adrienne-full-width: 180px;
$sp-adrienne-full-height: 180px;
$sp-adrienne-full-total-width: 908px;
$sp-adrienne-full-total-height: 908px;
$sp-adrienne-full-image: '/public/images/sprites-team.png';
$sp-adrienne-full: (0px, 546px, 0px, -546px, 180px, 180px, 908px, 908px, '/public/images/sprites-team.png', 'sp-adrienne-full', );
$sp-chang-face-name: 'sp-chang-face';
$sp-chang-face-x: 0px;
$sp-chang-face-y: 182px;
$sp-chang-face-offset-x: 0px;
$sp-chang-face-offset-y: -182px;
$sp-chang-face-width: 180px;
$sp-chang-face-height: 180px;
$sp-chang-face-total-width: 908px;
$sp-chang-face-total-height: 908px;
$sp-chang-face-image: '/public/images/sprites-team.png';
$sp-chang-face: (0px, 182px, 0px, -182px, 180px, 180px, 908px, 908px, '/public/images/sprites-team.png', 'sp-chang-face', );
$sp-chang-full-name: 'sp-chang-full';
$sp-chang-full-x: 182px;
$sp-chang-full-y: 182px;
$sp-chang-full-offset-x: -182px;
$sp-chang-full-offset-y: -182px;
$sp-chang-full-width: 180px;
$sp-chang-full-height: 180px;
$sp-chang-full-total-width: 908px;
$sp-chang-full-total-height: 908px;
$sp-chang-full-image: '/public/images/sprites-team.png';
$sp-chang-full: (182px, 182px, -182px, -182px, 180px, 180px, 908px, 908px, '/public/images/sprites-team.png', 'sp-chang-full', );
$sp-daron-face-name: 'sp-daron-face';
$sp-daron-face-x: 364px;
$sp-daron-face-y: 0px;
$sp-daron-face-offset-x: -364px;
$sp-daron-face-offset-y: 0px;
$sp-daron-face-width: 180px;
$sp-daron-face-height: 180px;
$sp-daron-face-total-width: 908px;
$sp-daron-face-total-height: 908px;
$sp-daron-face-image: '/public/images/sprites-team.png';
$sp-daron-face: (364px, 0px, -364px, 0px, 180px, 180px, 908px, 908px, '/public/images/sprites-team.png', 'sp-daron-face', );
$sp-daron-full-name: 'sp-daron-full';
$sp-daron-full-x: 364px;
$sp-daron-full-y: 182px;
$sp-daron-full-offset-x: -364px;
$sp-daron-full-offset-y: -182px;
$sp-daron-full-width: 180px;
$sp-daron-full-height: 180px;
$sp-daron-full-total-width: 908px;
$sp-daron-full-total-height: 908px;
$sp-daron-full-image: '/public/images/sprites-team.png';
$sp-daron-full: (364px, 182px, -364px, -182px, 180px, 180px, 908px, 908px, '/public/images/sprites-team.png', 'sp-daron-full', );
$sp-hugh-face-name: 'sp-hugh-face';
$sp-hugh-face-x: 0px;
$sp-hugh-face-y: 364px;
$sp-hugh-face-offset-x: 0px;
$sp-hugh-face-offset-y: -364px;
$sp-hugh-face-width: 180px;
$sp-hugh-face-height: 180px;
$sp-hugh-face-total-width: 908px;
$sp-hugh-face-total-height: 908px;
$sp-hugh-face-image: '/public/images/sprites-team.png';
$sp-hugh-face: (0px, 364px, 0px, -364px, 180px, 180px, 908px, 908px, '/public/images/sprites-team.png', 'sp-hugh-face', );
$sp-hugh-full-name: 'sp-hugh-full';
$sp-hugh-full-x: 182px;
$sp-hugh-full-y: 364px;
$sp-hugh-full-offset-x: -182px;
$sp-hugh-full-offset-y: -364px;
$sp-hugh-full-width: 180px;
$sp-hugh-full-height: 180px;
$sp-hugh-full-total-width: 908px;
$sp-hugh-full-total-height: 908px;
$sp-hugh-full-image: '/public/images/sprites-team.png';
$sp-hugh-full: (182px, 364px, -182px, -364px, 180px, 180px, 908px, 908px, '/public/images/sprites-team.png', 'sp-hugh-full', );
$sp-hyo-face-name: 'sp-hyo-face';
$sp-hyo-face-x: 364px;
$sp-hyo-face-y: 364px;
$sp-hyo-face-offset-x: -364px;
$sp-hyo-face-offset-y: -364px;
$sp-hyo-face-width: 180px;
$sp-hyo-face-height: 180px;
$sp-hyo-face-total-width: 908px;
$sp-hyo-face-total-height: 908px;
$sp-hyo-face-image: '/public/images/sprites-team.png';
$sp-hyo-face: (364px, 364px, -364px, -364px, 180px, 180px, 908px, 908px, '/public/images/sprites-team.png', 'sp-hyo-face', );
$sp-hyo-full-name: 'sp-hyo-full';
$sp-hyo-full-x: 546px;
$sp-hyo-full-y: 0px;
$sp-hyo-full-offset-x: -546px;
$sp-hyo-full-offset-y: 0px;
$sp-hyo-full-width: 180px;
$sp-hyo-full-height: 180px;
$sp-hyo-full-total-width: 908px;
$sp-hyo-full-total-height: 908px;
$sp-hyo-full-image: '/public/images/sprites-team.png';
$sp-hyo-full: (546px, 0px, -546px, 0px, 180px, 180px, 908px, 908px, '/public/images/sprites-team.png', 'sp-hyo-full', );
$sp-jessica-face-name: 'sp-jessica-face';
$sp-jessica-face-x: 546px;
$sp-jessica-face-y: 182px;
$sp-jessica-face-offset-x: -546px;
$sp-jessica-face-offset-y: -182px;
$sp-jessica-face-width: 180px;
$sp-jessica-face-height: 180px;
$sp-jessica-face-total-width: 908px;
$sp-jessica-face-total-height: 908px;
$sp-jessica-face-image: '/public/images/sprites-team.png';
$sp-jessica-face: (546px, 182px, -546px, -182px, 180px, 180px, 908px, 908px, '/public/images/sprites-team.png', 'sp-jessica-face', );
$sp-jessica-full-name: 'sp-jessica-full';
$sp-jessica-full-x: 546px;
$sp-jessica-full-y: 364px;
$sp-jessica-full-offset-x: -546px;
$sp-jessica-full-offset-y: -364px;
$sp-jessica-full-width: 180px;
$sp-jessica-full-height: 180px;
$sp-jessica-full-total-width: 908px;
$sp-jessica-full-total-height: 908px;
$sp-jessica-full-image: '/public/images/sprites-team.png';
$sp-jessica-full: (546px, 364px, -546px, -364px, 180px, 180px, 908px, 908px, '/public/images/sprites-team.png', 'sp-jessica-full', );
$sp-josh-face-name: 'sp-josh-face';
$sp-josh-face-x: 0px;
$sp-josh-face-y: 0px;
$sp-josh-face-offset-x: 0px;
$sp-josh-face-offset-y: 0px;
$sp-josh-face-width: 180px;
$sp-josh-face-height: 180px;
$sp-josh-face-total-width: 908px;
$sp-josh-face-total-height: 908px;
$sp-josh-face-image: '/public/images/sprites-team.png';
$sp-josh-face: (0px, 0px, 0px, 0px, 180px, 180px, 908px, 908px, '/public/images/sprites-team.png', 'sp-josh-face', );
$sp-josh-full-name: 'sp-josh-full';
$sp-josh-full-x: 182px;
$sp-josh-full-y: 546px;
$sp-josh-full-offset-x: -182px;
$sp-josh-full-offset-y: -546px;
$sp-josh-full-width: 180px;
$sp-josh-full-height: 180px;
$sp-josh-full-total-width: 908px;
$sp-josh-full-total-height: 908px;
$sp-josh-full-image: '/public/images/sprites-team.png';
$sp-josh-full: (182px, 546px, -182px, -546px, 180px, 180px, 908px, 908px, '/public/images/sprites-team.png', 'sp-josh-full', );
$sp-michael-face-name: 'sp-michael-face';
$sp-michael-face-x: 364px;
$sp-michael-face-y: 546px;
$sp-michael-face-offset-x: -364px;
$sp-michael-face-offset-y: -546px;
$sp-michael-face-width: 180px;
$sp-michael-face-height: 180px;
$sp-michael-face-total-width: 908px;
$sp-michael-face-total-height: 908px;
$sp-michael-face-image: '/public/images/sprites-team.png';
$sp-michael-face: (364px, 546px, -364px, -546px, 180px, 180px, 908px, 908px, '/public/images/sprites-team.png', 'sp-michael-face', );
$sp-michael-full-name: 'sp-michael-full';
$sp-michael-full-x: 546px;
$sp-michael-full-y: 546px;
$sp-michael-full-offset-x: -546px;
$sp-michael-full-offset-y: -546px;
$sp-michael-full-width: 180px;
$sp-michael-full-height: 180px;
$sp-michael-full-total-width: 908px;
$sp-michael-full-total-height: 908px;
$sp-michael-full-image: '/public/images/sprites-team.png';
$sp-michael-full: (546px, 546px, -546px, -546px, 180px, 180px, 908px, 908px, '/public/images/sprites-team.png', 'sp-michael-full', );
$sp-suzy-face-name: 'sp-suzy-face';
$sp-suzy-face-x: 728px;
$sp-suzy-face-y: 0px;
$sp-suzy-face-offset-x: -728px;
$sp-suzy-face-offset-y: 0px;
$sp-suzy-face-width: 180px;
$sp-suzy-face-height: 180px;
$sp-suzy-face-total-width: 908px;
$sp-suzy-face-total-height: 908px;
$sp-suzy-face-image: '/public/images/sprites-team.png';
$sp-suzy-face: (728px, 0px, -728px, 0px, 180px, 180px, 908px, 908px, '/public/images/sprites-team.png', 'sp-suzy-face', );
$sp-suzy-full-name: 'sp-suzy-full';
$sp-suzy-full-x: 728px;
$sp-suzy-full-y: 182px;
$sp-suzy-full-offset-x: -728px;
$sp-suzy-full-offset-y: -182px;
$sp-suzy-full-width: 180px;
$sp-suzy-full-height: 180px;
$sp-suzy-full-total-width: 908px;
$sp-suzy-full-total-height: 908px;
$sp-suzy-full-image: '/public/images/sprites-team.png';
$sp-suzy-full: (728px, 182px, -728px, -182px, 180px, 180px, 908px, 908px, '/public/images/sprites-team.png', 'sp-suzy-full', );
$sp-tapamon-face-name: 'sp-tapamon-face';
$sp-tapamon-face-x: 728px;
$sp-tapamon-face-y: 364px;
$sp-tapamon-face-offset-x: -728px;
$sp-tapamon-face-offset-y: -364px;
$sp-tapamon-face-width: 180px;
$sp-tapamon-face-height: 180px;
$sp-tapamon-face-total-width: 908px;
$sp-tapamon-face-total-height: 908px;
$sp-tapamon-face-image: '/public/images/sprites-team.png';
$sp-tapamon-face: (728px, 364px, -728px, -364px, 180px, 180px, 908px, 908px, '/public/images/sprites-team.png', 'sp-tapamon-face', );
$sp-tapamon-full-name: 'sp-tapamon-full';
$sp-tapamon-full-x: 728px;
$sp-tapamon-full-y: 546px;
$sp-tapamon-full-offset-x: -728px;
$sp-tapamon-full-offset-y: -546px;
$sp-tapamon-full-width: 180px;
$sp-tapamon-full-height: 180px;
$sp-tapamon-full-total-width: 908px;
$sp-tapamon-full-total-height: 908px;
$sp-tapamon-full-image: '/public/images/sprites-team.png';
$sp-tapamon-full: (728px, 546px, -728px, -546px, 180px, 180px, 908px, 908px, '/public/images/sprites-team.png', 'sp-tapamon-full', );
$sp-thomas-face-name: 'sp-thomas-face';
$sp-thomas-face-x: 0px;
$sp-thomas-face-y: 728px;
$sp-thomas-face-offset-x: 0px;
$sp-thomas-face-offset-y: -728px;
$sp-thomas-face-width: 180px;
$sp-thomas-face-height: 180px;
$sp-thomas-face-total-width: 908px;
$sp-thomas-face-total-height: 908px;
$sp-thomas-face-image: '/public/images/sprites-team.png';
$sp-thomas-face: (0px, 728px, 0px, -728px, 180px, 180px, 908px, 908px, '/public/images/sprites-team.png', 'sp-thomas-face', );
$sp-thomas-full-name: 'sp-thomas-full';
$sp-thomas-full-x: 182px;
$sp-thomas-full-y: 728px;
$sp-thomas-full-offset-x: -182px;
$sp-thomas-full-offset-y: -728px;
$sp-thomas-full-width: 180px;
$sp-thomas-full-height: 180px;
$sp-thomas-full-total-width: 908px;
$sp-thomas-full-total-height: 908px;
$sp-thomas-full-image: '/public/images/sprites-team.png';
$sp-thomas-full: (182px, 728px, -182px, -728px, 180px, 180px, 908px, 908px, '/public/images/sprites-team.png', 'sp-thomas-full', );
$sp-yoon-face-name: 'sp-yoon-face';
$sp-yoon-face-x: 364px;
$sp-yoon-face-y: 728px;
$sp-yoon-face-offset-x: -364px;
$sp-yoon-face-offset-y: -728px;
$sp-yoon-face-width: 180px;
$sp-yoon-face-height: 180px;
$sp-yoon-face-total-width: 908px;
$sp-yoon-face-total-height: 908px;
$sp-yoon-face-image: '/public/images/sprites-team.png';
$sp-yoon-face: (364px, 728px, -364px, -728px, 180px, 180px, 908px, 908px, '/public/images/sprites-team.png', 'sp-yoon-face', );
$sp-yoon-full-name: 'sp-yoon-full';
$sp-yoon-full-x: 546px;
$sp-yoon-full-y: 728px;
$sp-yoon-full-offset-x: -546px;
$sp-yoon-full-offset-y: -728px;
$sp-yoon-full-width: 180px;
$sp-yoon-full-height: 180px;
$sp-yoon-full-total-width: 908px;
$sp-yoon-full-total-height: 908px;
$sp-yoon-full-image: '/public/images/sprites-team.png';
$sp-yoon-full: (546px, 728px, -546px, -728px, 180px, 180px, 908px, 908px, '/public/images/sprites-team.png', 'sp-yoon-full', );
$sp-adrienne-face-2x-name: 'sp-adrienne-face-2x';
$sp-adrienne-face-2x-x: 364px;
$sp-adrienne-face-2x-y: 0px;
$sp-adrienne-face-2x-offset-x: -364px;
$sp-adrienne-face-2x-offset-y: 0px;
$sp-adrienne-face-2x-width: 360px;
$sp-adrienne-face-2x-height: 360px;
$sp-adrienne-face-2x-total-width: 1816px;
$sp-adrienne-face-2x-total-height: 1816px;
$sp-adrienne-face-2x-image: '/public/images/sprites-team-2x.png';
$sp-adrienne-face-2x: (364px, 0px, -364px, 0px, 360px, 360px, 1816px, 1816px, '/public/images/sprites-team-2x.png', 'sp-adrienne-face-2x', );
$sp-adrienne-full-2x-name: 'sp-adrienne-full-2x';
$sp-adrienne-full-2x-x: 0px;
$sp-adrienne-full-2x-y: 1092px;
$sp-adrienne-full-2x-offset-x: 0px;
$sp-adrienne-full-2x-offset-y: -1092px;
$sp-adrienne-full-2x-width: 360px;
$sp-adrienne-full-2x-height: 360px;
$sp-adrienne-full-2x-total-width: 1816px;
$sp-adrienne-full-2x-total-height: 1816px;
$sp-adrienne-full-2x-image: '/public/images/sprites-team-2x.png';
$sp-adrienne-full-2x: (0px, 1092px, 0px, -1092px, 360px, 360px, 1816px, 1816px, '/public/images/sprites-team-2x.png', 'sp-adrienne-full-2x', );
$sp-chang-face-2x-name: 'sp-chang-face-2x';
$sp-chang-face-2x-x: 0px;
$sp-chang-face-2x-y: 364px;
$sp-chang-face-2x-offset-x: 0px;
$sp-chang-face-2x-offset-y: -364px;
$sp-chang-face-2x-width: 360px;
$sp-chang-face-2x-height: 360px;
$sp-chang-face-2x-total-width: 1816px;
$sp-chang-face-2x-total-height: 1816px;
$sp-chang-face-2x-image: '/public/images/sprites-team-2x.png';
$sp-chang-face-2x: (0px, 364px, 0px, -364px, 360px, 360px, 1816px, 1816px, '/public/images/sprites-team-2x.png', 'sp-chang-face-2x', );
$sp-chang-full-2x-name: 'sp-chang-full-2x';
$sp-chang-full-2x-x: 364px;
$sp-chang-full-2x-y: 364px;
$sp-chang-full-2x-offset-x: -364px;
$sp-chang-full-2x-offset-y: -364px;
$sp-chang-full-2x-width: 360px;
$sp-chang-full-2x-height: 360px;
$sp-chang-full-2x-total-width: 1816px;
$sp-chang-full-2x-total-height: 1816px;
$sp-chang-full-2x-image: '/public/images/sprites-team-2x.png';
$sp-chang-full-2x: (364px, 364px, -364px, -364px, 360px, 360px, 1816px, 1816px, '/public/images/sprites-team-2x.png', 'sp-chang-full-2x', );
$sp-daron-face-2x-name: 'sp-daron-face-2x';
$sp-daron-face-2x-x: 728px;
$sp-daron-face-2x-y: 0px;
$sp-daron-face-2x-offset-x: -728px;
$sp-daron-face-2x-offset-y: 0px;
$sp-daron-face-2x-width: 360px;
$sp-daron-face-2x-height: 360px;
$sp-daron-face-2x-total-width: 1816px;
$sp-daron-face-2x-total-height: 1816px;
$sp-daron-face-2x-image: '/public/images/sprites-team-2x.png';
$sp-daron-face-2x: (728px, 0px, -728px, 0px, 360px, 360px, 1816px, 1816px, '/public/images/sprites-team-2x.png', 'sp-daron-face-2x', );
$sp-daron-full-2x-name: 'sp-daron-full-2x';
$sp-daron-full-2x-x: 728px;
$sp-daron-full-2x-y: 364px;
$sp-daron-full-2x-offset-x: -728px;
$sp-daron-full-2x-offset-y: -364px;
$sp-daron-full-2x-width: 360px;
$sp-daron-full-2x-height: 360px;
$sp-daron-full-2x-total-width: 1816px;
$sp-daron-full-2x-total-height: 1816px;
$sp-daron-full-2x-image: '/public/images/sprites-team-2x.png';
$sp-daron-full-2x: (728px, 364px, -728px, -364px, 360px, 360px, 1816px, 1816px, '/public/images/sprites-team-2x.png', 'sp-daron-full-2x', );
$sp-hugh-face-2x-name: 'sp-hugh-face-2x';
$sp-hugh-face-2x-x: 0px;
$sp-hugh-face-2x-y: 728px;
$sp-hugh-face-2x-offset-x: 0px;
$sp-hugh-face-2x-offset-y: -728px;
$sp-hugh-face-2x-width: 360px;
$sp-hugh-face-2x-height: 360px;
$sp-hugh-face-2x-total-width: 1816px;
$sp-hugh-face-2x-total-height: 1816px;
$sp-hugh-face-2x-image: '/public/images/sprites-team-2x.png';
$sp-hugh-face-2x: (0px, 728px, 0px, -728px, 360px, 360px, 1816px, 1816px, '/public/images/sprites-team-2x.png', 'sp-hugh-face-2x', );
$sp-hugh-full-2x-name: 'sp-hugh-full-2x';
$sp-hugh-full-2x-x: 364px;
$sp-hugh-full-2x-y: 728px;
$sp-hugh-full-2x-offset-x: -364px;
$sp-hugh-full-2x-offset-y: -728px;
$sp-hugh-full-2x-width: 360px;
$sp-hugh-full-2x-height: 360px;
$sp-hugh-full-2x-total-width: 1816px;
$sp-hugh-full-2x-total-height: 1816px;
$sp-hugh-full-2x-image: '/public/images/sprites-team-2x.png';
$sp-hugh-full-2x: (364px, 728px, -364px, -728px, 360px, 360px, 1816px, 1816px, '/public/images/sprites-team-2x.png', 'sp-hugh-full-2x', );
$sp-hyo-face-2x-name: 'sp-hyo-face-2x';
$sp-hyo-face-2x-x: 728px;
$sp-hyo-face-2x-y: 728px;
$sp-hyo-face-2x-offset-x: -728px;
$sp-hyo-face-2x-offset-y: -728px;
$sp-hyo-face-2x-width: 360px;
$sp-hyo-face-2x-height: 360px;
$sp-hyo-face-2x-total-width: 1816px;
$sp-hyo-face-2x-total-height: 1816px;
$sp-hyo-face-2x-image: '/public/images/sprites-team-2x.png';
$sp-hyo-face-2x: (728px, 728px, -728px, -728px, 360px, 360px, 1816px, 1816px, '/public/images/sprites-team-2x.png', 'sp-hyo-face-2x', );
$sp-hyo-full-2x-name: 'sp-hyo-full-2x';
$sp-hyo-full-2x-x: 1092px;
$sp-hyo-full-2x-y: 0px;
$sp-hyo-full-2x-offset-x: -1092px;
$sp-hyo-full-2x-offset-y: 0px;
$sp-hyo-full-2x-width: 360px;
$sp-hyo-full-2x-height: 360px;
$sp-hyo-full-2x-total-width: 1816px;
$sp-hyo-full-2x-total-height: 1816px;
$sp-hyo-full-2x-image: '/public/images/sprites-team-2x.png';
$sp-hyo-full-2x: (1092px, 0px, -1092px, 0px, 360px, 360px, 1816px, 1816px, '/public/images/sprites-team-2x.png', 'sp-hyo-full-2x', );
$sp-jessica-face-2x-name: 'sp-jessica-face-2x';
$sp-jessica-face-2x-x: 1092px;
$sp-jessica-face-2x-y: 364px;
$sp-jessica-face-2x-offset-x: -1092px;
$sp-jessica-face-2x-offset-y: -364px;
$sp-jessica-face-2x-width: 360px;
$sp-jessica-face-2x-height: 360px;
$sp-jessica-face-2x-total-width: 1816px;
$sp-jessica-face-2x-total-height: 1816px;
$sp-jessica-face-2x-image: '/public/images/sprites-team-2x.png';
$sp-jessica-face-2x: (1092px, 364px, -1092px, -364px, 360px, 360px, 1816px, 1816px, '/public/images/sprites-team-2x.png', 'sp-jessica-face-2x', );
$sp-jessica-full-2x-name: 'sp-jessica-full-2x';
$sp-jessica-full-2x-x: 1092px;
$sp-jessica-full-2x-y: 728px;
$sp-jessica-full-2x-offset-x: -1092px;
$sp-jessica-full-2x-offset-y: -728px;
$sp-jessica-full-2x-width: 360px;
$sp-jessica-full-2x-height: 360px;
$sp-jessica-full-2x-total-width: 1816px;
$sp-jessica-full-2x-total-height: 1816px;
$sp-jessica-full-2x-image: '/public/images/sprites-team-2x.png';
$sp-jessica-full-2x: (1092px, 728px, -1092px, -728px, 360px, 360px, 1816px, 1816px, '/public/images/sprites-team-2x.png', 'sp-jessica-full-2x', );
$sp-josh-face-2x-name: 'sp-josh-face-2x';
$sp-josh-face-2x-x: 0px;
$sp-josh-face-2x-y: 0px;
$sp-josh-face-2x-offset-x: 0px;
$sp-josh-face-2x-offset-y: 0px;
$sp-josh-face-2x-width: 360px;
$sp-josh-face-2x-height: 360px;
$sp-josh-face-2x-total-width: 1816px;
$sp-josh-face-2x-total-height: 1816px;
$sp-josh-face-2x-image: '/public/images/sprites-team-2x.png';
$sp-josh-face-2x: (0px, 0px, 0px, 0px, 360px, 360px, 1816px, 1816px, '/public/images/sprites-team-2x.png', 'sp-josh-face-2x', );
$sp-josh-full-2x-name: 'sp-josh-full-2x';
$sp-josh-full-2x-x: 364px;
$sp-josh-full-2x-y: 1092px;
$sp-josh-full-2x-offset-x: -364px;
$sp-josh-full-2x-offset-y: -1092px;
$sp-josh-full-2x-width: 360px;
$sp-josh-full-2x-height: 360px;
$sp-josh-full-2x-total-width: 1816px;
$sp-josh-full-2x-total-height: 1816px;
$sp-josh-full-2x-image: '/public/images/sprites-team-2x.png';
$sp-josh-full-2x: (364px, 1092px, -364px, -1092px, 360px, 360px, 1816px, 1816px, '/public/images/sprites-team-2x.png', 'sp-josh-full-2x', );
$sp-michael-face-2x-name: 'sp-michael-face-2x';
$sp-michael-face-2x-x: 728px;
$sp-michael-face-2x-y: 1092px;
$sp-michael-face-2x-offset-x: -728px;
$sp-michael-face-2x-offset-y: -1092px;
$sp-michael-face-2x-width: 360px;
$sp-michael-face-2x-height: 360px;
$sp-michael-face-2x-total-width: 1816px;
$sp-michael-face-2x-total-height: 1816px;
$sp-michael-face-2x-image: '/public/images/sprites-team-2x.png';
$sp-michael-face-2x: (728px, 1092px, -728px, -1092px, 360px, 360px, 1816px, 1816px, '/public/images/sprites-team-2x.png', 'sp-michael-face-2x', );
$sp-michael-full-2x-name: 'sp-michael-full-2x';
$sp-michael-full-2x-x: 1092px;
$sp-michael-full-2x-y: 1092px;
$sp-michael-full-2x-offset-x: -1092px;
$sp-michael-full-2x-offset-y: -1092px;
$sp-michael-full-2x-width: 360px;
$sp-michael-full-2x-height: 360px;
$sp-michael-full-2x-total-width: 1816px;
$sp-michael-full-2x-total-height: 1816px;
$sp-michael-full-2x-image: '/public/images/sprites-team-2x.png';
$sp-michael-full-2x: (1092px, 1092px, -1092px, -1092px, 360px, 360px, 1816px, 1816px, '/public/images/sprites-team-2x.png', 'sp-michael-full-2x', );
$sp-suzy-face-2x-name: 'sp-suzy-face-2x';
$sp-suzy-face-2x-x: 1456px;
$sp-suzy-face-2x-y: 0px;
$sp-suzy-face-2x-offset-x: -1456px;
$sp-suzy-face-2x-offset-y: 0px;
$sp-suzy-face-2x-width: 360px;
$sp-suzy-face-2x-height: 360px;
$sp-suzy-face-2x-total-width: 1816px;
$sp-suzy-face-2x-total-height: 1816px;
$sp-suzy-face-2x-image: '/public/images/sprites-team-2x.png';
$sp-suzy-face-2x: (1456px, 0px, -1456px, 0px, 360px, 360px, 1816px, 1816px, '/public/images/sprites-team-2x.png', 'sp-suzy-face-2x', );
$sp-suzy-full-2x-name: 'sp-suzy-full-2x';
$sp-suzy-full-2x-x: 1456px;
$sp-suzy-full-2x-y: 364px;
$sp-suzy-full-2x-offset-x: -1456px;
$sp-suzy-full-2x-offset-y: -364px;
$sp-suzy-full-2x-width: 360px;
$sp-suzy-full-2x-height: 360px;
$sp-suzy-full-2x-total-width: 1816px;
$sp-suzy-full-2x-total-height: 1816px;
$sp-suzy-full-2x-image: '/public/images/sprites-team-2x.png';
$sp-suzy-full-2x: (1456px, 364px, -1456px, -364px, 360px, 360px, 1816px, 1816px, '/public/images/sprites-team-2x.png', 'sp-suzy-full-2x', );
$sp-tapamon-face-2x-name: 'sp-tapamon-face-2x';
$sp-tapamon-face-2x-x: 1456px;
$sp-tapamon-face-2x-y: 728px;
$sp-tapamon-face-2x-offset-x: -1456px;
$sp-tapamon-face-2x-offset-y: -728px;
$sp-tapamon-face-2x-width: 360px;
$sp-tapamon-face-2x-height: 360px;
$sp-tapamon-face-2x-total-width: 1816px;
$sp-tapamon-face-2x-total-height: 1816px;
$sp-tapamon-face-2x-image: '/public/images/sprites-team-2x.png';
$sp-tapamon-face-2x: (1456px, 728px, -1456px, -728px, 360px, 360px, 1816px, 1816px, '/public/images/sprites-team-2x.png', 'sp-tapamon-face-2x', );
$sp-tapamon-full-2x-name: 'sp-tapamon-full-2x';
$sp-tapamon-full-2x-x: 1456px;
$sp-tapamon-full-2x-y: 1092px;
$sp-tapamon-full-2x-offset-x: -1456px;
$sp-tapamon-full-2x-offset-y: -1092px;
$sp-tapamon-full-2x-width: 360px;
$sp-tapamon-full-2x-height: 360px;
$sp-tapamon-full-2x-total-width: 1816px;
$sp-tapamon-full-2x-total-height: 1816px;
$sp-tapamon-full-2x-image: '/public/images/sprites-team-2x.png';
$sp-tapamon-full-2x: (1456px, 1092px, -1456px, -1092px, 360px, 360px, 1816px, 1816px, '/public/images/sprites-team-2x.png', 'sp-tapamon-full-2x', );
$sp-thomas-face-2x-name: 'sp-thomas-face-2x';
$sp-thomas-face-2x-x: 0px;
$sp-thomas-face-2x-y: 1456px;
$sp-thomas-face-2x-offset-x: 0px;
$sp-thomas-face-2x-offset-y: -1456px;
$sp-thomas-face-2x-width: 360px;
$sp-thomas-face-2x-height: 360px;
$sp-thomas-face-2x-total-width: 1816px;
$sp-thomas-face-2x-total-height: 1816px;
$sp-thomas-face-2x-image: '/public/images/sprites-team-2x.png';
$sp-thomas-face-2x: (0px, 1456px, 0px, -1456px, 360px, 360px, 1816px, 1816px, '/public/images/sprites-team-2x.png', 'sp-thomas-face-2x', );
$sp-thomas-full-2x-name: 'sp-thomas-full-2x';
$sp-thomas-full-2x-x: 364px;
$sp-thomas-full-2x-y: 1456px;
$sp-thomas-full-2x-offset-x: -364px;
$sp-thomas-full-2x-offset-y: -1456px;
$sp-thomas-full-2x-width: 360px;
$sp-thomas-full-2x-height: 360px;
$sp-thomas-full-2x-total-width: 1816px;
$sp-thomas-full-2x-total-height: 1816px;
$sp-thomas-full-2x-image: '/public/images/sprites-team-2x.png';
$sp-thomas-full-2x: (364px, 1456px, -364px, -1456px, 360px, 360px, 1816px, 1816px, '/public/images/sprites-team-2x.png', 'sp-thomas-full-2x', );
$sp-yoon-face-2x-name: 'sp-yoon-face-2x';
$sp-yoon-face-2x-x: 728px;
$sp-yoon-face-2x-y: 1456px;
$sp-yoon-face-2x-offset-x: -728px;
$sp-yoon-face-2x-offset-y: -1456px;
$sp-yoon-face-2x-width: 360px;
$sp-yoon-face-2x-height: 360px;
$sp-yoon-face-2x-total-width: 1816px;
$sp-yoon-face-2x-total-height: 1816px;
$sp-yoon-face-2x-image: '/public/images/sprites-team-2x.png';
$sp-yoon-face-2x: (728px, 1456px, -728px, -1456px, 360px, 360px, 1816px, 1816px, '/public/images/sprites-team-2x.png', 'sp-yoon-face-2x', );
$sp-yoon-full-2x-name: 'sp-yoon-full-2x';
$sp-yoon-full-2x-x: 1092px;
$sp-yoon-full-2x-y: 1456px;
$sp-yoon-full-2x-offset-x: -1092px;
$sp-yoon-full-2x-offset-y: -1456px;
$sp-yoon-full-2x-width: 360px;
$sp-yoon-full-2x-height: 360px;
$sp-yoon-full-2x-total-width: 1816px;
$sp-yoon-full-2x-total-height: 1816px;
$sp-yoon-full-2x-image: '/public/images/sprites-team-2x.png';
$sp-yoon-full-2x: (1092px, 1456px, -1092px, -1456px, 360px, 360px, 1816px, 1816px, '/public/images/sprites-team-2x.png', 'sp-yoon-full-2x', );
$sp-width: 908px;
$sp-height: 908px;
$sp-image: '/public/images/sprites-team.png';
$sp-sprites: ($sp-adrienne-face, $sp-adrienne-full, $sp-chang-face, $sp-chang-full, $sp-daron-face, $sp-daron-full, $sp-hugh-face, $sp-hugh-full, $sp-hyo-face, $sp-hyo-full, $sp-jessica-face, $sp-jessica-full, $sp-josh-face, $sp-josh-full, $sp-michael-face, $sp-michael-full, $sp-suzy-face, $sp-suzy-full, $sp-tapamon-face, $sp-tapamon-full, $sp-thomas-face, $sp-thomas-full, $sp-yoon-face, $sp-yoon-full, );
$sp: (908px, 908px, '/public/images/sprites-team.png', $sp-sprites, );
$retina-spritesheet-width: 1816px;
$retina-spritesheet-height: 1816px;
$retina-spritesheet-image: '/public/images/sprites-team-2x.png';
$retina-spritesheet-sprites: ($sp-adrienne-face-2x, $sp-adrienne-full-2x, $sp-chang-face-2x, $sp-chang-full-2x, $sp-daron-face-2x, $sp-daron-full-2x, $sp-hugh-face-2x, $sp-hugh-full-2x, $sp-hyo-face-2x, $sp-hyo-full-2x, $sp-jessica-face-2x, $sp-jessica-full-2x, $sp-josh-face-2x, $sp-josh-full-2x, $sp-michael-face-2x, $sp-michael-full-2x, $sp-suzy-face-2x, $sp-suzy-full-2x, $sp-tapamon-face-2x, $sp-tapamon-full-2x, $sp-thomas-face-2x, $sp-thomas-full-2x, $sp-yoon-face-2x, $sp-yoon-full-2x, );
$retina-spritesheet: (1816px, 1816px, '/public/images/sprites-team-2x.png', $retina-spritesheet-sprites, );

/*
These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.

The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
*/
$sp-adrienne-face-group-name: 'sp-adrienne-face';
$sp-adrienne-face-group: ('sp-adrienne-face', $sp-adrienne-face, $sp-adrienne-face-2x, );
$sp-adrienne-full-group-name: 'sp-adrienne-full';
$sp-adrienne-full-group: ('sp-adrienne-full', $sp-adrienne-full, $sp-adrienne-full-2x, );
$sp-chang-face-group-name: 'sp-chang-face';
$sp-chang-face-group: ('sp-chang-face', $sp-chang-face, $sp-chang-face-2x, );
$sp-chang-full-group-name: 'sp-chang-full';
$sp-chang-full-group: ('sp-chang-full', $sp-chang-full, $sp-chang-full-2x, );
$sp-daron-face-group-name: 'sp-daron-face';
$sp-daron-face-group: ('sp-daron-face', $sp-daron-face, $sp-daron-face-2x, );
$sp-daron-full-group-name: 'sp-daron-full';
$sp-daron-full-group: ('sp-daron-full', $sp-daron-full, $sp-daron-full-2x, );
$sp-hugh-face-group-name: 'sp-hugh-face';
$sp-hugh-face-group: ('sp-hugh-face', $sp-hugh-face, $sp-hugh-face-2x, );
$sp-hugh-full-group-name: 'sp-hugh-full';
$sp-hugh-full-group: ('sp-hugh-full', $sp-hugh-full, $sp-hugh-full-2x, );
$sp-hyo-face-group-name: 'sp-hyo-face';
$sp-hyo-face-group: ('sp-hyo-face', $sp-hyo-face, $sp-hyo-face-2x, );
$sp-hyo-full-group-name: 'sp-hyo-full';
$sp-hyo-full-group: ('sp-hyo-full', $sp-hyo-full, $sp-hyo-full-2x, );
$sp-jessica-face-group-name: 'sp-jessica-face';
$sp-jessica-face-group: ('sp-jessica-face', $sp-jessica-face, $sp-jessica-face-2x, );
$sp-jessica-full-group-name: 'sp-jessica-full';
$sp-jessica-full-group: ('sp-jessica-full', $sp-jessica-full, $sp-jessica-full-2x, );
$sp-josh-face-group-name: 'sp-josh-face';
$sp-josh-face-group: ('sp-josh-face', $sp-josh-face, $sp-josh-face-2x, );
$sp-josh-full-group-name: 'sp-josh-full';
$sp-josh-full-group: ('sp-josh-full', $sp-josh-full, $sp-josh-full-2x, );
$sp-michael-face-group-name: 'sp-michael-face';
$sp-michael-face-group: ('sp-michael-face', $sp-michael-face, $sp-michael-face-2x, );
$sp-michael-full-group-name: 'sp-michael-full';
$sp-michael-full-group: ('sp-michael-full', $sp-michael-full, $sp-michael-full-2x, );
$sp-suzy-face-group-name: 'sp-suzy-face';
$sp-suzy-face-group: ('sp-suzy-face', $sp-suzy-face, $sp-suzy-face-2x, );
$sp-suzy-full-group-name: 'sp-suzy-full';
$sp-suzy-full-group: ('sp-suzy-full', $sp-suzy-full, $sp-suzy-full-2x, );
$sp-tapamon-face-group-name: 'sp-tapamon-face';
$sp-tapamon-face-group: ('sp-tapamon-face', $sp-tapamon-face, $sp-tapamon-face-2x, );
$sp-tapamon-full-group-name: 'sp-tapamon-full';
$sp-tapamon-full-group: ('sp-tapamon-full', $sp-tapamon-full, $sp-tapamon-full-2x, );
$sp-thomas-face-group-name: 'sp-thomas-face';
$sp-thomas-face-group: ('sp-thomas-face', $sp-thomas-face, $sp-thomas-face-2x, );
$sp-thomas-full-group-name: 'sp-thomas-full';
$sp-thomas-full-group: ('sp-thomas-full', $sp-thomas-full, $sp-thomas-full-2x, );
$sp-yoon-face-group-name: 'sp-yoon-face';
$sp-yoon-face-group: ('sp-yoon-face', $sp-yoon-face, $sp-yoon-face-2x, );
$sp-yoon-full-group-name: 'sp-yoon-full';
$sp-yoon-full-group: ('sp-yoon-full', $sp-yoon-full, $sp-yoon-full-2x, );
$retina-groups: ($sp-adrienne-face-group, $sp-adrienne-full-group, $sp-chang-face-group, $sp-chang-full-group, $sp-daron-face-group, $sp-daron-full-group, $sp-hugh-face-group, $sp-hugh-full-group, $sp-hyo-face-group, $sp-hyo-full-group, $sp-jessica-face-group, $sp-jessica-full-group, $sp-josh-face-group, $sp-josh-full-group, $sp-michael-face-group, $sp-michael-full-group, $sp-suzy-face-group, $sp-suzy-full-group, $sp-tapamon-face-group, $sp-tapamon-full-group, $sp-thomas-face-group, $sp-thomas-full-group, $sp-yoon-face-group, $sp-yoon-full-group, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
  It should be used with a "retina group" variable.

The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/

$icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );

.icon-home {
  @include retina-sprite($icon-home-group);
}
*/
@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

/*
The `retina-sprites` mixin generates a CSS rule and media query for retina groups
  This yields the same output as CSS retina template but can be overridden in SCSS

@include retina-sprites($retina-groups);
*/
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}
