@import "mixins";

html, body {
  @include f-qsr;
  @include rm-lh;
  letter-spacing: 0;
  margin: 0;
  padding: 0;
  height: 100%;
}

img {
  @include rm-lh;
}

a, a:hover {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-size: 0;

  li {
    display: inline-block;
  }
}

p {
  line-height: 1;
  margin: 0;
}

header {
  background: $color-black url('/public/images/bg-banner.png') no-repeat center center;
  background-size: cover;
  opacity: 0.9;
}

footer {
  background-color: $color-yellow;
  overflow: hidden;

  .container {
    text-align: center;

    a {
      @include f-qsb;
      color: $color-black;

      &:hover {
        color: $color-white;
      }
    }
  }
}

.content {
  &.inverse {
    background-color: $color-black;
  }
}

.social-menu {
  position: relative;

  li {
    &:first-child {
      position: absolute;
      top: 40px;
    }

    &:not(:first-child) {
      margin-top: 60px;
    }

    a {
      display: block;
    }
  }

  img {
    vertical-align: baseline;
  }
}

.tapas-menu {
  li {
    &:last-child {
      margin-right: 0;
    }

    a {
      line-height: 1;
    }
  }
}

.company {
  font-size: 14px;
}

.dot {
  width: 12px;
  height: 12px;
  background-color: $color-d-gray;
  @include border-radius(6px);
  margin-right: 16px;
  cursor: pointer;

  &:last-child {
    margin-right: 0;
  }

  &.active {
    background-color: $color-white;
  }
}

.hidden {
  display: none !important;
  visibility: hidden !important;
}

// Small devices (landscape phones, 34em and up)
@media (min-width: 20em) {
  header {
    height: 528px;

    .slogan {
      font-size: 20px;
    }
  }

  .container {
    max-width:280px !important;
    padding: 0;
  }

  .info-wrap {
    height: 440px;

    img {
      display: none;
    }

    .info {
      margin-left: 0px;
    }
  }

  .guide-wrap {
    p {
      margin: 60px auto 40px auto;
    }

    ul {
      li {
        display: block;
        margin: 0 auto 40px auto;
      }
    }
  }

  .social-menu {
    li {
      margin-right: 20px;

      &:first-child {
        display: none;
        margin-right: 0;
      }

      &:last-child {
        margin-right: 0;
      }

      &:nth-child(2) {
        margin-left: 0;
      }
    }
  }

  .tapas-menu {
    font-size: 16px;
    margin: 40px auto 32px auto;

    li {
      display: block;
      margin: 0 0 24px 0;
    }
  }

  .company {
    margin-bottom: 60px;

    p {
      display: block;

      &:first-child {
        margin-bottom: 2px;
      }

      &:last-child {
        margin-top: 20px;
      }
    }
  }
}

// Medium devices (tablets, 48em and up)
@media (min-width: 48em) {
  header {
    height: 600px;

    .slogan {
      font-size: 24px;
    }
  }
  .container{
    max-width:648px !important;
    padding: 0;
  }

  .info-wrap {
    height: 424px;

    img {
      display: block;
    }

    .info {
      margin-left: 368px;
    }
  }

  .guide-wrap {
    p {
      margin: 60px auto 32px auto;
    }

    ul {
      li {
        display: inline-block;
        margin: 0 24px 0 0;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .social-menu {
    li {
      margin-right: 24px;

      &:first-child {
        display: inline-block;
        margin-right: 8px;
      }

      &:last-child {
        margin-right: 62px;
      }

      &:nth-child(2) {
        margin-left: 70px;
      }
    }
  }

  .tapas-menu {
    font-size: 18px;
    margin: 32px auto 24px auto;

    li {
      display: inline-block;
      margin: 0 20px 0 0;
    }
  }

  .company {
    margin-bottom: 24px;

    p {
      display: inline-block;

      &:first-child {
        margin-right: 3px;
      }

      &:last-child {
        margin-left: 5px;
      }
    }
  }
}

// Large devices (desktops, 62em and up)
@media (min-width: 62em) {
  header {
    height: 600px;

    .slogan {
      font-size: 24px;
    }
  }

  .container{
    max-width:920px !important;
    padding: 0 80px;
  }

  .info-wrap {
    height: 424px;

    img {
      display: block;
    }

    .info {
      margin-left: 392px;
    }
  }

  .guide-wrap {
    p {
      margin: 60px auto 32px auto;
    }

    ul {
      li {
        margin: 0 80px 0 0;

        &:last-child {
          display: inline-block;
          margin-right: 0;
        }
      }
    }
  }

  .social-menu {
    li {
      margin-right: 24px;

      &:first-child {
        display: inline-block;
        margin-right: 8px;
      }

      &:last-child {
        margin-right: 62px;
      }

      &:nth-child(2) {
        margin-left: 70px;
      }
    }
  }

  .tapas-menu {
    font-size: 18px;
    margin: 32px auto 24px auto;

    li {
      display: inline-block;
      margin: 0 20px 0 0;
    }
  }

  .company {
    margin-bottom: 24px;

    p {
      display: inline-block;

      &:first-child {
        margin-right: 3px;
      }

      &:last-child {
        margin-left: 5px;
      }
    }
  }
}

// Extra large devices (large desktops, 75em and up)
@media (min-width: 75em) {
  header {
    height: 600px;

    .slogan {
      font-size: 24px;
    }
  }

  .container{
    max-width:920px !important;
    padding: 0 80px;
  }

  .info-wrap {
    height: 424px;

    img {
      display: block;
    }

    .info {
      margin-left: 392px;
    }
  }

  .guide-wrap {
    p {
      margin: 60px auto 32px auto;
    }

    ul {
      li {
        margin: 0 80px 0 0;

        &:last-child {
          display: inline-block;
          margin-right: 0;
        }
      }
    }
  }

  .social-menu {
    li {
      margin-right: 24px;

      &:first-child {
        display: inline-block;
        margin-right: 8px;
      }

      &:last-child {
        margin-right: 62px;
      }

      &:nth-child(2) {
        margin-left: 70px;
      }
    }
  }

  .tapas-menu {
    font-size: 18px;
    margin: 32px auto 24px auto;

    li {
      display: inline-block;
      margin: 0 20px 0 0;
    }
  }

  .company {
    margin-bottom: 24px;

    p {
      display: inline-block;

      &:first-child {
        margin-right: 3px;
      }

      &:last-child {
        margin-left: 5px;
      }
    }
  }
}