@import "mixins";

html, body {
  @include f-qsr;
  @include rm-lh;
  letter-spacing: 0;
  margin: 0;
  padding: 0;
  height: 100%;
}

img {
  @include rm-lh;
}

a, a:hover {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-size: 0;

  li {
    display: inline-block;
  }
}

p {
  line-height: 1;
  margin: 0;
}

header {
  background: rgba(38, 38, 54, 0.9) url('/public/images/bg-banner.png') no-repeat center center;
  background-size: cover;
}

footer {
  background-color: $color-yellow;
  overflow: hidden;

  .container {
    text-align: center;

    a {
      @include f-qsb;
      color: $color-black;

      &:hover {
        color: $color-white;
      }
    }
  }
}

.content {
  &.inverse {
    background-color: $color-black;
  }
}

.section {
  margin: 60px 0;

  .title {
    font-size: 36px;
  }
}

.container {
  padding: 0;
}

.title {
  text-align: center;

  p {
    color: $color-white;
    font-size: 24px;

    &:first-child {
      font-size: 48px;
      padding-top: 140px;
    }

    &:last-child {
      margin: 32px auto 60px auto;
    }
  }
}

.nav-line {
  margin: 48px auto 12px auto;
  text-align: center;

  ul {

    li {
      @include f-qsb;
      font-size: 20px;
      line-height: 2;
      margin-right: 20px;

      &.active {
        a {
          background: rgba(38, 38, 54, 1);
        }
      }

      &:last-child {
        margin-right: 0;
      }

      a {
        display: block;
        color: $color-white;
        @include border-radius(20px);
        padding: 1px 15px;
        text-decoration: none;

        &:hover {
          color: $color-white;
          background: rgba(255, 255, 255, 0.2);
        }
      }
    }
  }
}

.nav-select {
  position: relative;

  .nav-selected {
    min-width: 280px;
    height: 40px;
    background-color: $color-black;
    overflow: hidden;
    @include border-radius;
    margin-bottom: 20px;

    &.open {
      @include border-radius-top;

      .bullet {
        @include rotate(-45deg);
        margin: 0 12px 0 30px;
      }
    }
    &.open + .nav-item {
      display: block;
    }

    p {
      display: inline-block;
      @include f-qsb;
      color: $color-white;
      font-size: 20px;
      line-height: 2;
      padding: 0 20px;
    }

    .bullet {
      display: inline-block;
      background-color: $color-white;
      @include rotate(135deg);
      margin: 0 12px 3px 30px;

      i {
        background-color: $color-black;
      }
    }
  }

  .nav-item {
    position: absolute;
    top: 42px;
    z-index: 99;
    display: none;

    li {
      display: block;
      padding: 12px 20px;
      background-color: $color-black;

      &:last-child {
        @include border-radius-bottom;
      }

      a {
        @include f-qsb;
        color: $color-white;
        font-size: 20px;
        line-height: 2;
      }
    }
  }
}

.logos {
  overflow: hidden;
  float: left;
  margin-top: 20px;

  a {
    display: inline-block;

    &:first-child {
      margin-right: 12px;
    }
  }

  &.centered {
    overflow: auto;
    float: none;
    margin-top: 0;

    img {
      display: block;
      margin: 0 auto;

      &:first-child {
        padding-top: 80px;
        margin-bottom: 24px;
      }
    }
  }
}

.stores {
  float: right;
  margin-top: 24px;

  a {
    font-size: 0;
    display: inline-block;

    &:last-child {
      margin-left: 40px;
    }
  }
}

.social-menu {
  position: relative;

  li {
    &:first-child {
      position: absolute;
      top: 40px;
    }

    &:not(:first-child) {
      margin-top: 60px;
    }

    a {
      display: block;
    }
  }

  img {
    vertical-align: baseline;
  }
}

.tapas-menu {
  li {
    &:last-child {
      margin-right: 0;
    }

    a {
      line-height: 1;
    }
  }
}

.company {
  font-size: 14px;
}

.dot {
  width: 12px;
  height: 12px;
  background-color: $color-d-gray;
  @include border-radius(6px);
  margin-right: 16px;
  cursor: pointer;

  &:last-child {
    margin-right: 0;
  }

  &.active {
    background-color: $color-white;
  }
}

.hidden {
  display: none !important;
  visibility: hidden !important;
}

// Small devices (landscape phones, 34em and up)
@media (min-width: 20em) {
  .nav-line {
    display: none;
  }

  .nav-select {
    display: block;
  }

  .container {
    max-width:280px !important;
  }

  .index {
    header.fixed {
      height: 528px;

      .slogan {
        font-size: 20px;
      }
    }

    .container {
      padding: 0;
    }
  }

  .page-wrap {
    .question {
      p {
        max-width: 235px;
      }
    }

    .prefix {
      display: none;
    }
  }

  .info-wrap {
    height: 440px;

    img {
      display: none;
    }

    .info {
      margin-left: 0px;
    }
  }

  .guide-wrap {
    p {
      margin: 60px auto 40px auto;
    }

    ul {
      li {
        display: block;
        margin: 0 auto 40px auto;
      }
    }
  }

  .social-menu {
    li {
      margin-right: 20px;

      &:first-child {
        display: none;
        margin-right: 0;
      }

      &:last-child {
        margin-right: 0;
      }

      &:nth-child(2) {
        margin-left: 0;
      }
    }
  }

  .tapas-menu {
    font-size: 16px;
    margin: 40px auto 32px auto;

    li {
      display: block;
      margin: 0 0 24px 0;
    }
  }

  .company {
    margin-bottom: 60px;

    p {
      display: block;

      &:first-child {
        margin-bottom: 2px;
      }

      &:last-child {
        margin-top: 20px;
      }
    }
  }
}

// Medium devices (tablets, 48em and up)
@media (min-width: 48em) {
  .nav-line {
    display: block;
  }

  .nav-select {
    display: none;
  }

  .container {
    max-width:648px !important;
  }

  .index {
    header.fixed {
      height: 600px;

      .slogan {
        font-size: 24px;
      }
    }

    .container {
      padding: 0;
    }
  }

  .page-wrap {
    .question {
      p {
        max-width: none;
      }
    }

    .prefix {
      display: inline-block;
    }
  }

  .info-wrap {
    height: 424px;

    img {
      display: block;
    }

    .info {
      margin-left: 368px;
    }
  }

  .guide-wrap {
    p {
      margin: 60px auto 32px auto;
    }

    ul {
      li {
        display: inline-block;
        margin: 0 24px 0 0;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .social-menu {
    li {
      margin-right: 24px;

      &:first-child {
        display: inline-block;
        margin-right: 8px;
      }

      &:last-child {
        margin-right: 62px;
      }

      &:nth-child(2) {
        margin-left: 70px;
      }
    }
  }

  .tapas-menu {
    font-size: 18px;
    margin: 32px auto 24px auto;

    li {
      display: inline-block;
      margin: 0 20px 0 0;
    }
  }

  .company {
    margin-bottom: 24px;

    p {
      display: inline-block;

      &:first-child {
        margin-right: 3px;
      }

      &:last-child {
        margin-left: 5px;
      }
    }
  }
}

// Large devices (desktops, 62em and up)
@media (min-width: 62em) {
  .nav-line {
    display: block;
  }

  .nav-select {
    display: none;
  }

  .container {
    max-width:920px !important;
  }

  .index {
    header.fixed {
      height: 600px;

      .slogan {
        font-size: 24px;
      }
    }

    .container {
      padding: 0 80px;
    }
  }

  .page-wrap {
    .question {
      p {
        max-width: none;
      }
    }

    .prefix {
      display: inline-block;
    }
  }

  .info-wrap {
    height: 424px;

    img {
      display: block;
    }

    .info {
      margin-left: 392px;
    }
  }

  .guide-wrap {
    p {
      margin: 60px auto 32px auto;
    }

    ul {
      li {
        margin: 0 80px 0 0;

        &:last-child {
          display: inline-block;
          margin-right: 0;
        }
      }
    }
  }

  .social-menu {
    li {
      margin-right: 24px;

      &:first-child {
        display: inline-block;
        margin-right: 8px;
      }

      &:last-child {
        margin-right: 62px;
      }

      &:nth-child(2) {
        margin-left: 70px;
      }
    }
  }

  .tapas-menu {
    font-size: 18px;
    margin: 32px auto 24px auto;

    li {
      display: inline-block;
      margin: 0 20px 0 0;
    }
  }

  .company {
    margin-bottom: 24px;

    p {
      display: inline-block;

      &:first-child {
        margin-right: 3px;
      }

      &:last-child {
        margin-left: 5px;
      }
    }
  }
}

// Extra large devices (large desktops, 75em and up)
@media (min-width: 75em) {
  .nav-line {
    display: block;
  }

  .nav-select {
    display: none;
  }

  .container {
    max-width:920px !important;
  }

  .index {
    header.fixed {
      height: 600px;

      .slogan {
        font-size: 24px;
      }
    }

    .container {
      padding: 0 80px;
    }
  }

  .page-wrap {
    .question {
      p {
        max-width: none;
      }
    }

    .prefix {
      display: inline-block;
    }
  }

  .info-wrap {
    height: 424px;

    img {
      display: block;
    }

    .info {
      margin-left: 392px;
    }
  }

  .guide-wrap {
    p {
      margin: 60px auto 32px auto;
    }

    ul {
      li {
        margin: 0 80px 0 0;

        &:last-child {
          display: inline-block;
          margin-right: 0;
        }
      }
    }
  }

  .social-menu {
    li {
      margin-right: 24px;

      &:first-child {
        display: inline-block;
        margin-right: 8px;
      }

      &:last-child {
        margin-right: 62px;
      }

      &:nth-child(2) {
        margin-left: 70px;
      }
    }
  }

  .tapas-menu {
    font-size: 18px;
    margin: 32px auto 24px auto;

    li {
      display: inline-block;
      margin: 0 20px 0 0;
    }
  }

  .company {
    margin-bottom: 24px;

    p {
      display: inline-block;

      &:first-child {
        margin-right: 3px;
      }

      &:last-child {
        margin-left: 5px;
      }
    }
  }
}