// variables.scss

// colour
$color-f6: #f6f6f6;
$color-e6: #e6e6e6;
$color-d6: #d6d6d6;
$color-a6: #a6a6a6;
$color-86: #868686;
$color-white: #ffffff;
$color-00: #000000;
$color-black: #262636;
$color-d-gray: #464656;
$color-yellow: #fcb606;
$color-l-blue: #26b6b6;

// font
$qsb-font-stack: "Quicksand", "Helvetica Neue", Helvetica, sans-serif !default;
$qsr-font-stack: "Quicksand", "Helvetica Neue", Helvetica, sans-serif !default;
$qsl-font-stack: "Quicksand", "Helvetica Neue", Helvetica, sans-serif !default;
