@font-face {
  font-family: 'QuicksandBold';
  src: local("Quicksand Bold"), local("Quicksand-Bold"), url("/public/fonts/Quicksand-Bold.otf") format("opentype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
@font-face {
  font-family: 'QuicksandLight';
  src: local("Quicksand Light"), local("Quicksand-Light"), url("/public/fonts/Quicksand-Light.otf") format("opentype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
@font-face {
  font-family: 'QuicksandRegular';
  src: local("Quicksand Regular"), local("Quicksand-Regular"), url("/public/fonts/Quicksand-Regular.otf") format("opentype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
@font-face {
  font-family: 'QuicksandBold';
  src: local("Quicksand Bold"), local("Quicksand-Bold"), url("/public/fonts/Quicksand-Bold.otf") format("opentype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
@font-face {
  font-family: 'QuicksandLight';
  src: local("Quicksand Light"), local("Quicksand-Light"), url("/public/fonts/Quicksand-Light.otf") format("opentype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
@font-face {
  font-family: 'QuicksandRegular';
  src: local("Quicksand Regular"), local("Quicksand-Regular"), url("/public/fonts/Quicksand-Regular.otf") format("opentype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
html, body {
  font-family: "QuicksandRegular", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: normal !important;
  font-style: normal !important;
  line-height: 0;
  margin: 0;
  padding: 0;
  letter-spacing: 0;
  height: 100%; }

img {
  line-height: 0; }

a, a:hover {
  text-decoration: none; }

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 0; }
  ul li {
    display: inline-block; }

p {
  line-height: 1;
  margin: 0;
  word-wrap: break-word; }

header {
  background: rgba(38, 38, 54, 0.9) url("/public/images/bg-banner.png") no-repeat;
  background-size: cover; }

footer {
  background-color: #fcb606;
  overflow: hidden; }
  footer .container {
    text-align: center; }
    footer .container a {
      font-family: "QuicksandBold", "Helvetica Neue", Helvetica, sans-serif;
      font-weight: normal !important;
      font-style: normal !important;
      color: #262636; }
      footer .container a:hover {
        color: #ffffff; }

.content.inverse {
  background-color: #262636; }

.section {
  margin: 60px 0; }
  .section .title {
    font-size: 36px; }

.container {
  padding: 0; }

.page-w-wrap, .page-wrap {
  margin: 0 auto; }

.error-bg-404 {
  overflow: hidden;
  background: url("/public/images/404-bgstripes.png");
  text-align: center; }
  .error-bg-404 img {
    margin-top: 10px;
    margin-bottom: 13px; }
    .error-bg-404 img:first-child {
      float: left;
      margin-top: 32px; }
    .error-bg-404 img:last-child {
      float: right;
      margin-top: 64px; }

.error-bg-500 {
  background: url("/public/images/500-bgstripes.png");
  text-align: center; }
  .error-bg-500 img {
    margin-top: 20px; }

.error {
  padding: 60px 0;
  text-align: center; }
  .error p {
    font-family: "QuicksandRegular", "Helvetica Neue", Helvetica, sans-serif;
    font-weight: normal !important;
    font-style: normal !important;
    font-size: 18px;
    line-height: 2.5; }
    .error p:first-child {
      font-family: "QuicksandBold", "Helvetica Neue", Helvetica, sans-serif;
      font-weight: normal !important;
      font-style: normal !important;
      font-size: 24px;
      line-height: 1.2;
      margin-bottom: 32px; }
    .error p a {
      font-family: "QuicksandBold", "Helvetica Neue", Helvetica, sans-serif;
      font-weight: normal !important;
      font-style: normal !important;
      color: #26b6b6; }

.title {
  text-align: center; }
  .title p {
    color: #ffffff;
    font-size: 24px; }
    .title p:first-child {
      font-size: 48px;
      padding-top: 140px; }
    .title p:last-child {
      margin: 32px auto 60px auto; }

.nav-line {
  margin: 48px auto 12px auto;
  text-align: center; }
  .nav-line ul li {
    font-family: "QuicksandBold", "Helvetica Neue", Helvetica, sans-serif;
    font-weight: normal !important;
    font-style: normal !important;
    font-size: 20px;
    line-height: 2;
    margin-right: 20px; }
    .nav-line ul li.active a {
      background: #262636; }
    .nav-line ul li:last-child {
      margin-right: 0; }
    .nav-line ul li a {
      display: block;
      color: #ffffff;
      -webkit-border-radius: 20px 20px 20px 20px;
      -moz-border-radius: 20px 20px 20px 20px;
      -ms-border-radius: 20px 20px 20px 20px;
      border-radius: 20px 20px 20px 20px;
      padding: 1px 15px;
      text-decoration: none; }
      .nav-line ul li a:hover {
        color: #ffffff;
        background: rgba(255, 255, 255, 0.2); }

.nav-select {
  position: relative; }
  .nav-select .nav-selected {
    min-width: 280px;
    height: 40px;
    background-color: #262636;
    overflow: hidden;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -ms-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin-bottom: 20px; }
    .nav-select .nav-selected.open {
      -webkit-border-radius: 5px 5px 0 0;
      -moz-border-radius: 5px 5px 0 0;
      -ms-border-radius: 5px 5px 0 0;
      border-radius: 5px 5px 0 0; }
      .nav-select .nav-selected.open .bullet {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        margin: 0 12px 0 30px; }
    .nav-select .nav-selected.open + .nav-item {
      display: block; }
    .nav-select .nav-selected p {
      display: inline-block;
      font-family: "QuicksandBold", "Helvetica Neue", Helvetica, sans-serif;
      font-weight: normal !important;
      font-style: normal !important;
      color: #ffffff;
      font-size: 20px;
      line-height: 2;
      padding: 0 20px; }
    .nav-select .nav-selected .bullet {
      display: inline-block;
      background-color: #ffffff;
      -webkit-transform: rotate(135deg);
      -moz-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
      -o-transform: rotate(135deg);
      transform: rotate(135deg);
      margin: 0 12px 3px 30px; }
      .nav-select .nav-selected .bullet i {
        background-color: #262636; }
  .nav-select .nav-item {
    position: absolute;
    top: 42px;
    z-index: 99;
    display: none; }
    .nav-select .nav-item li {
      display: block;
      padding: 12px 20px;
      background-color: #262636; }
      .nav-select .nav-item li:last-child {
        -webkit-border-radius: 0 0 5px 5px;
        -moz-border-radius: 0 0 5px 5px;
        -ms-border-radius: 0 0 5px 5px;
        border-radius: 0 0 5px 5px; }
      .nav-select .nav-item li a {
        font-family: "QuicksandBold", "Helvetica Neue", Helvetica, sans-serif;
        font-weight: normal !important;
        font-style: normal !important;
        color: #ffffff;
        font-size: 20px;
        line-height: 2; }

.logos {
  overflow: hidden;
  float: left;
  margin-top: 20px; }
  .logos a {
    display: inline-block; }
    .logos a:first-child {
      margin-right: 12px; }
  .logos.centered {
    overflow: auto;
    float: none;
    margin-top: 0; }
    .logos.centered img {
      display: block;
      margin: 0 auto; }
      .logos.centered img:first-child {
        padding-top: 80px;
        margin-bottom: 24px; }

.stores {
  float: right;
  margin-top: 24px; }
  .stores a {
    font-size: 0;
    display: inline-block; }
    .stores a:last-child {
      margin-left: 40px; }

.social-menu {
  position: relative; }
  .social-menu li:first-child {
    position: absolute;
    top: 40px; }
  .social-menu li:not(:first-child) {
    margin-top: 60px; }
  .social-menu li a {
    display: block; }
  .social-menu img {
    vertical-align: baseline; }

.tapas-menu li:last-child {
  margin-right: 0; }
.tapas-menu li a {
  line-height: 1; }

.company {
  font-size: 14px; }

.dot {
  width: 12px;
  height: 12px;
  background-color: #464656;
  -webkit-border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  -ms-border-radius: 6px 6px 6px 6px;
  border-radius: 6px 6px 6px 6px;
  margin-right: 16px;
  cursor: pointer; }
  .dot:last-child {
    margin-right: 0; }
  .dot.active {
    background-color: #ffffff; }

.hidden {
  display: none !important;
  visibility: hidden !important; }

@media (min-width: 20em) {
  .logos > .logo-txt {
    display: none; }

  .nav-line {
    display: none; }

  .nav-select {
    display: block; }

  .container {
    max-width: 280px !important; }

  .index header.fixed {
    height: 528px; }
    .index header.fixed .slogan {
      font-size: 20px; }
  .index .container {
    padding: 0; }

  .page-w-wrap {
    width: 280px; }

  .page-wrap {
    width: 280px; }
    .page-wrap .question p {
      max-width: 235px; }
    .page-wrap .prefix {
      display: none; }

  .app-store-btn:last-child {
    margin-left: 0; }

  ul.policy li {
    width: 95%; }

  ul.number li, ul.alphabet li, ul.roman li {
    width: 90%; }

  .info-wrap {
    height: 440px; }
    .info-wrap .screen {
      display: none; }
    .info-wrap .info {
      margin-left: 0px; }

  .guide-wrap p {
    margin: 60px auto 40px auto; }
  .guide-wrap ul li {
    display: block;
    margin: 0 auto 40px auto; }

  .social-menu li {
    margin-right: 20px; }
    .social-menu li:first-child {
      display: none;
      margin-right: 0; }
    .social-menu li:last-child {
      margin-right: 0; }
    .social-menu li:nth-child(2) {
      margin-left: 0; }

  .tapas-menu {
    font-size: 16px;
    margin: 40px auto 32px auto; }
    .tapas-menu li {
      display: block;
      margin: 0 0 24px 0; }

  .company {
    margin-bottom: 60px; }
    .company p {
      display: block; }
      .company p:first-child {
        margin-bottom: 2px; }
      .company p:last-child {
        margin-top: 20px; }

  .share-page.page-w-wrap {
    padding: 20px 0 60px 0; }
  .share-page .thumb {
    display: block;
    text-align: center;
    margin-bottom: 24px; }
  .share-page .info {
    display: block; }
  .share-page .main-title {
    font-family: "QuicksandBold", "Helvetica Neue", Helvetica, sans-serif;
    font-weight: normal !important;
    font-style: normal !important;
    font-size: 24px;
    color: #262636;
    margin-bottom: 8px;
    text-align: center; }
  .share-page .creator {
    text-align: center;
    margin-bottom: 32px; }
    .share-page .creator .creator-thumb {
      display: none; }
  .share-page .description {
    padding-bottom: 32px;
    font-size: 18px;
    text-overflow: ellipsis;
    border-bottom: 1px solid #e6e6e6; }
  .share-page .tapas {
    margin-top: 32px;
    font-size: 18px; }
  .share-page .app-store {
    margin-top: 24px; }
    .share-page .app-store .app-store-btn-wrap {
      text-align: center;
      font-size: 0; } }
@media (min-width: 48em) {
  .logos > .logo-txt {
    display: inline-block; }

  .nav-line {
    display: block; }

  .nav-select {
    display: none; }

  .container {
    max-width: 648px !important; }

  .index header.fixed {
    height: 600px; }
    .index header.fixed .slogan {
      font-size: 24px; }
  .index .container {
    padding: 0; }

  .page-w-wrap {
    width: 684px; }

  .page-wrap {
    width: 648px; }
    .page-wrap .question p {
      max-width: none; }
    .page-wrap .prefix {
      display: inline-block; }

  .app-store-btn:last-child {
    margin-left: 20px; }

  ul.number li, ul.alphabet li, ul.roman li {
    width: 100%; }

  ul.policy li {
    width: 100%; }

  .info-wrap {
    height: 424px; }
    .info-wrap .screen {
      display: block; }
    .info-wrap .info {
      margin-left: 368px; }

  .guide-wrap p {
    margin: 60px auto 32px auto; }
  .guide-wrap ul li {
    display: inline-block;
    margin: 0 24px 0 0; }
    .guide-wrap ul li:last-child {
      margin-right: 0; }

  .social-menu li {
    margin-right: 24px; }
    .social-menu li:first-child {
      display: inline-block;
      margin-right: 8px; }
    .social-menu li:last-child {
      margin-right: 62px; }
    .social-menu li:nth-child(2) {
      margin-left: 70px; }

  .tapas-menu {
    font-size: 18px;
    margin: 32px auto 24px auto; }
    .tapas-menu li {
      display: inline-block;
      margin: 0 20px 0 0; }

  .company {
    margin-bottom: 24px; }
    .company p {
      display: inline-block; }
      .company p:first-child {
        margin-right: 3px; }
      .company p:last-child {
        margin-left: 5px; }

  .share-page.page-w-wrap {
    padding: 60px 0; }
  .share-page .thumb {
    display: inline-block;
    margin-right: 19px;
    vertical-align: top; }
  .share-page .info {
    width: 540px;
    display: inline-block; }
  .share-page .main-title {
    font-family: "QuicksandBold", "Helvetica Neue", Helvetica, sans-serif;
    font-weight: normal !important;
    font-style: normal !important;
    font-size: 32px;
    color: #262636;
    margin-bottom: 8px;
    text-align: left; }
  .share-page .creator {
    text-align: left;
    margin-bottom: 24px; }
    .share-page .creator .creator-thumb {
      display: inline-block; }
  .share-page .description {
    padding-bottom: 0;
    margin-bottom: 50px;
    font-size: 18px;
    text-overflow: ellipsis;
    border: none; }
  .share-page .tapas {
    font-size: 16px; }
  .share-page .app-store {
    margin-top: 20px; }
    .share-page .app-store .app-store-btn-wrap {
      text-align: left;
      font-size: 0; }
    .share-page .app-store .app-store-btn:last-child {
      margin-left: 20px; }
      .share-page .app-store .app-store-btn:last-child img {
        padding: 8px 0; } }
@media (min-width: 62em) {
  .logos > .logo-txt {
    display: inline-block; }

  .nav-line {
    display: block; }

  .nav-select {
    display: none; }

  .container {
    max-width: 920px !important; }

  .index header.fixed {
    height: 600px; }
    .index header.fixed .slogan {
      font-size: 24px; }
  .index .container {
    padding: 0 80px; }

  .page-w-wrap {
    width: 684px; }

  .page-wrap {
    width: 648px; }
    .page-wrap .question p {
      max-width: none; }
    .page-wrap .prefix {
      display: inline-block; }

  .app-store-btn:last-child {
    margin-left: 20px; }

  ul.number li, ul.alphabet li, ul.roman li {
    width: 100%; }

  ul.policy li {
    width: 100%; }

  .info-wrap {
    height: 424px; }
    .info-wrap .screen {
      display: block; }
    .info-wrap .info {
      margin-left: 392px; }

  .guide-wrap p {
    margin: 60px auto 32px auto; }
  .guide-wrap ul li {
    margin: 0 80px 0 0; }
    .guide-wrap ul li:last-child {
      display: inline-block;
      margin-right: 0; }

  .social-menu li {
    margin-right: 24px; }
    .social-menu li:first-child {
      display: inline-block;
      margin-right: 8px; }
    .social-menu li:last-child {
      margin-right: 62px; }
    .social-menu li:nth-child(2) {
      margin-left: 70px; }

  .tapas-menu {
    font-size: 18px;
    margin: 32px auto 24px auto; }
    .tapas-menu li {
      display: inline-block;
      margin: 0 20px 0 0; }

  .company {
    margin-bottom: 24px; }
    .company p {
      display: inline-block; }
      .company p:first-child {
        margin-right: 3px; }
      .company p:last-child {
        margin-left: 5px; }

  .share-page.page-w-wrap {
    padding: 60px 0; }
  .share-page .thumb {
    display: inline-block;
    margin-right: 19px;
    vertical-align: top; }
  .share-page .info {
    width: 540px;
    display: inline-block; }
  .share-page .main-title {
    font-family: "QuicksandBold", "Helvetica Neue", Helvetica, sans-serif;
    font-weight: normal !important;
    font-style: normal !important;
    font-size: 32px;
    color: #262636;
    margin-bottom: 8px;
    text-align: left; }
  .share-page .creator {
    text-align: left;
    margin-bottom: 24px; }
    .share-page .creator .creator-thumb {
      display: inline-block; }
  .share-page .description {
    padding-bottom: 0;
    margin-bottom: 50px;
    font-size: 18px;
    text-overflow: ellipsis;
    border: none; }
  .share-page .tapas {
    font-size: 16px; }
  .share-page .app-store {
    margin-top: 20px; }
    .share-page .app-store .app-store-btn-wrap {
      text-align: left;
      font-size: 0; }
    .share-page .app-store .app-store-btn:last-child {
      margin-left: 20px; }
      .share-page .app-store .app-store-btn:last-child img {
        padding: 8px 0; } }
@media (min-width: 75em) {
  .logos > .logo-txt {
    display: inline-block; }

  .nav-line {
    display: block; }

  .nav-select {
    display: none; }

  .container {
    max-width: 920px !important; }

  .index header.fixed {
    height: 600px; }
    .index header.fixed .slogan {
      font-size: 24px; }
  .index .container {
    padding: 0 80px; }

  .page-w-wrap {
    width: 684px; }

  .page-wrap {
    width: 648px; }
    .page-wrap .question p {
      max-width: none; }
    .page-wrap .prefix {
      display: inline-block; }

  ul.number li, ul.alphabet li, ul.roman li {
    width: 100%; }

  ul.policy li {
    width: 100%; }

  .info-wrap {
    height: 424px; }
    .info-wrap .screen {
      display: block; }
    .info-wrap .info {
      margin-left: 392px; }

  .guide-wrap p {
    margin: 60px auto 32px auto; }
  .guide-wrap ul li {
    margin: 0 80px 0 0; }
    .guide-wrap ul li:last-child {
      display: inline-block;
      margin-right: 0; }

  .social-menu li {
    margin-right: 24px; }
    .social-menu li:first-child {
      display: inline-block;
      margin-right: 8px; }
    .social-menu li:last-child {
      margin-right: 62px; }
    .social-menu li:nth-child(2) {
      margin-left: 70px; }

  .tapas-menu {
    font-size: 18px;
    margin: 32px auto 24px auto; }
    .tapas-menu li {
      display: inline-block;
      margin: 0 20px 0 0; }

  .company {
    margin-bottom: 24px; }
    .company p {
      display: inline-block; }
      .company p:first-child {
        margin-right: 3px; }
      .company p:last-child {
        margin-left: 5px; }

  .share-page.page-w-wrap {
    padding: 60px 0; }
  .share-page .thumb {
    display: inline-block;
    margin-right: 19px;
    vertical-align: top; }
  .share-page .info {
    width: 540px;
    display: inline-block; }
  .share-page .main-title {
    font-family: "QuicksandBold", "Helvetica Neue", Helvetica, sans-serif;
    font-weight: normal !important;
    font-style: normal !important;
    font-size: 32px;
    color: #262636;
    margin-bottom: 8px;
    text-align: left; }
  .share-page .creator {
    text-align: left;
    margin-bottom: 24px; }
    .share-page .creator .creator-thumb {
      display: inline-block; }
  .share-page .description {
    padding-bottom: 0;
    margin-bottom: 50px;
    font-size: 18px;
    text-overflow: ellipsis;
    border: none; }
  .share-page .tapas {
    font-size: 16px; }
  .share-page .app-store {
    margin-top: 20px; }
    .share-page .app-store .app-store-btn-wrap {
      text-align: left;
      font-size: 0; }
    .share-page .app-store .app-store-btn:last-child {
      margin-left: 20px; }
      .share-page .app-store .app-store-btn:last-child img {
        padding: 8px 0; } }
.container {
  position: relative; }
  .container .slogan {
    font-family: "QuicksandRegular", "Helvetica Neue", Helvetica, sans-serif;
    font-weight: normal !important;
    font-style: normal !important;
    color: #ffffff;
    text-align: center;
    margin-top: 32px; }
  .container .app-store {
    margin-top: 60px; }
    .container .app-store .app-store-btn-wrap {
      text-align: center;
      font-size: 0; }
    .container .app-store .app-store-btn {
      display: inline-block;
      background-color: #000000;
      width: 180px;
      height: 60px;
      vertical-align: middle;
      -webkit-border-radius: 5px 5px 5px 5px;
      -moz-border-radius: 5px 5px 5px 5px;
      -ms-border-radius: 5px 5px 5px 5px;
      border-radius: 5px 5px 5px 5px; }
      .container .app-store .app-store-btn img {
        padding: 10px 0; }
      .container .app-store .app-store-btn:last-child img {
        padding: 8px 0; }
    .container .app-store .app-store-msg {
      text-align: center;
      margin-top: 24px; }
      .container .app-store .app-store-msg a {
        font-family: "QuicksandBold", "Helvetica Neue", Helvetica, sans-serif;
        font-weight: normal !important;
        font-style: normal !important;
        color: #ffffff;
        font-size: 16px;
        text-decoration: none; }

.info-wrap .container {
  height: inherit; }
.info-wrap .screen {
  position: absolute;
  bottom: 0;
  left: 0; }
  .info-wrap .screen .screen-shot {
    position: absolute;
    bottom: 0;
    left: 20px; }
    .info-wrap .screen .screen-shot .screen-img {
      display: inline; }
.info-wrap .info {
  position: relative;
  padding: 60px 0;
  height: inherit;
  text-align: center; }
  .info-wrap .info ul {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 60px;
    margin: 0 auto; }
  .info-wrap .info .info-card p {
    color: #ffffff;
    font-size: 18px;
    text-align: left; }
    .info-wrap .info .info-card p:first-child {
      font-size: 36px;
      margin: 0 auto 32px auto; }
    .info-wrap .info .info-card p:last-child {
      margin-top: 32px; }

.guide-wrap p {
  color: #262636;
  font-size: 36px;
  text-align: center; }
.guide-wrap ul {
  margin: 0 0 60px 0; }
  .guide-wrap ul li {
    width: 200px; }
    .guide-wrap ul li p {
      font-size: 18px;
      margin: 24px auto 0 auto; }

/*# sourceMappingURL=index.css.map */
