@font-face {
  font-family: 'QuicksandBold';
  src: local("Quicksand Bold"), local("Quicksand-Bold"), url("/public/fonts/Quicksand-Bold.otf") format("opentype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
@font-face {
  font-family: 'QuicksandLight';
  src: local("Quicksand Light"), local("Quicksand-Light"), url("/public/fonts/Quicksand-Light.otf") format("opentype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
@font-face {
  font-family: 'QuicksandRegular';
  src: local("Quicksand Regular"), local("Quicksand-Regular"), url("/public/fonts/Quicksand-Regular.otf") format("opentype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
html, body {
  font-family: "QuicksandRegular", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: normal !important;
  font-style: normal !important;
  line-height: 0;
  letter-spacing: 0;
  margin: 0;
  padding: 0;
  height: 100%; }

img {
  line-height: 0; }

a, a:hover {
  text-decoration: none; }

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-size: 0; }
  ul li {
    display: inline-block; }

p {
  line-height: 1;
  margin: 0; }

header {
  background: #262636 url("/public/images/bg-banner.png") no-repeat center center;
  background-size: cover;
  opacity: 0.9; }

footer {
  background-color: #fcb606;
  overflow: hidden; }
  footer .container {
    text-align: center; }
    footer .container a {
      font-family: "QuicksandBold", "Helvetica Neue", Helvetica, sans-serif;
      font-weight: normal !important;
      font-style: normal !important;
      color: #262636; }
      footer .container a:hover {
        color: #ffffff; }

.content.inverse {
  background-color: #262636; }

.container {
  padding: 0; }

.logos {
  overflow: hidden;
  float: left;
  margin-top: 20px; }
  .logos a {
    display: inline-block; }
    .logos a:first-child {
      margin-right: 12px; }
  .logos.centered {
    overflow: auto;
    float: none;
    margin-top: 0; }
    .logos.centered img {
      display: block;
      margin: 0 auto; }
      .logos.centered img:first-child {
        padding-top: 80px;
        margin-bottom: 24px; }

.stores {
  float: right;
  margin-top: 24px; }
  .stores a {
    font-size: 0;
    display: inline-block; }
    .stores a:first-child {
      margin-right: 40px; }

.title {
  text-align: center; }
  .title p {
    color: #ffffff;
    font-size: 24px; }
    .title p:first-child {
      font-size: 48px;
      padding-top: 140px; }
    .title p:last-child {
      margin: 32px auto 60px auto; }

.social-menu {
  position: relative; }
  .social-menu li:first-child {
    position: absolute;
    top: 40px; }
  .social-menu li:not(:first-child) {
    margin-top: 60px; }
  .social-menu li a {
    display: block; }
  .social-menu img {
    vertical-align: baseline; }

.tapas-menu li:last-child {
  margin-right: 0; }
.tapas-menu li a {
  line-height: 1; }

.company {
  font-size: 14px; }

.dot {
  width: 12px;
  height: 12px;
  background-color: #464656;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
  margin-right: 16px;
  cursor: pointer; }
  .dot:last-child {
    margin-right: 0; }
  .dot.active {
    background-color: #ffffff; }

.hidden {
  display: none !important;
  visibility: hidden !important; }

@media (min-width: 20em) {
  header.fixed {
    height: 528px; }
    header.fixed .slogan {
      font-size: 20px; }

  .index .container {
    max-width: 280px !important;
    padding: 0; }

  .info-wrap {
    height: 440px; }
    .info-wrap img {
      display: none; }
    .info-wrap .info {
      margin-left: 0px; }

  .guide-wrap p {
    margin: 60px auto 40px auto; }
  .guide-wrap ul li {
    display: block;
    margin: 0 auto 40px auto; }

  .social-menu li {
    margin-right: 20px; }
    .social-menu li:first-child {
      display: none;
      margin-right: 0; }
    .social-menu li:last-child {
      margin-right: 0; }
    .social-menu li:nth-child(2) {
      margin-left: 0; }

  .tapas-menu {
    font-size: 16px;
    margin: 40px auto 32px auto; }
    .tapas-menu li {
      display: block;
      margin: 0 0 24px 0; }

  .company {
    margin-bottom: 60px; }
    .company p {
      display: block; }
      .company p:first-child {
        margin-bottom: 2px; }
      .company p:last-child {
        margin-top: 20px; } }
@media (min-width: 48em) {
  header.fixed {
    height: 600px; }
    header.fixed .slogan {
      font-size: 24px; }

  .index .container {
    max-width: 648px !important;
    padding: 0; }

  .info-wrap {
    height: 424px; }
    .info-wrap img {
      display: block; }
    .info-wrap .info {
      margin-left: 368px; }

  .guide-wrap p {
    margin: 60px auto 32px auto; }
  .guide-wrap ul li {
    display: inline-block;
    margin: 0 24px 0 0; }
    .guide-wrap ul li:last-child {
      margin-right: 0; }

  .social-menu li {
    margin-right: 24px; }
    .social-menu li:first-child {
      display: inline-block;
      margin-right: 8px; }
    .social-menu li:last-child {
      margin-right: 62px; }
    .social-menu li:nth-child(2) {
      margin-left: 70px; }

  .tapas-menu {
    font-size: 18px;
    margin: 32px auto 24px auto; }
    .tapas-menu li {
      display: inline-block;
      margin: 0 20px 0 0; }

  .company {
    margin-bottom: 24px; }
    .company p {
      display: inline-block; }
      .company p:first-child {
        margin-right: 3px; }
      .company p:last-child {
        margin-left: 5px; } }
@media (min-width: 62em) {
  header.fixed {
    height: 600px; }
    header.fixed .slogan {
      font-size: 24px; }

  .index .container {
    max-width: 920px !important;
    padding: 0 80px; }

  .info-wrap {
    height: 424px; }
    .info-wrap img {
      display: block; }
    .info-wrap .info {
      margin-left: 392px; }

  .guide-wrap p {
    margin: 60px auto 32px auto; }
  .guide-wrap ul li {
    margin: 0 80px 0 0; }
    .guide-wrap ul li:last-child {
      display: inline-block;
      margin-right: 0; }

  .social-menu li {
    margin-right: 24px; }
    .social-menu li:first-child {
      display: inline-block;
      margin-right: 8px; }
    .social-menu li:last-child {
      margin-right: 62px; }
    .social-menu li:nth-child(2) {
      margin-left: 70px; }

  .tapas-menu {
    font-size: 18px;
    margin: 32px auto 24px auto; }
    .tapas-menu li {
      display: inline-block;
      margin: 0 20px 0 0; }

  .company {
    margin-bottom: 24px; }
    .company p {
      display: inline-block; }
      .company p:first-child {
        margin-right: 3px; }
      .company p:last-child {
        margin-left: 5px; } }
@media (min-width: 75em) {
  header.fixed {
    height: 600px; }
    header.fixed .slogan {
      font-size: 24px; }

  .index .container {
    max-width: 920px !important;
    padding: 0 80px; }

  .info-wrap {
    height: 424px; }
    .info-wrap img {
      display: block; }
    .info-wrap .info {
      margin-left: 392px; }

  .guide-wrap p {
    margin: 60px auto 32px auto; }
  .guide-wrap ul li {
    margin: 0 80px 0 0; }
    .guide-wrap ul li:last-child {
      display: inline-block;
      margin-right: 0; }

  .social-menu li {
    margin-right: 24px; }
    .social-menu li:first-child {
      display: inline-block;
      margin-right: 8px; }
    .social-menu li:last-child {
      margin-right: 62px; }
    .social-menu li:nth-child(2) {
      margin-left: 70px; }

  .tapas-menu {
    font-size: 18px;
    margin: 32px auto 24px auto; }
    .tapas-menu li {
      display: inline-block;
      margin: 0 20px 0 0; }

  .company {
    margin-bottom: 24px; }
    .company p {
      display: inline-block; }
      .company p:first-child {
        margin-right: 3px; }
      .company p:last-child {
        margin-left: 5px; } }
header {
  height: 80px; }

.content .container {
  padding: 60px 0;
  width: 684px;
  margin: 0 auto; }
  .content .container p {
    line-height: 1.3; }
  .content .container .thumb {
    display: inline-block;
    margin-right: 24px;
    vertical-align: top; }
  .content .container .info {
    width: 540px;
    display: inline-block; }
  .content .container .main-title {
    font-family: "QuicksandBold", "Helvetica Neue", Helvetica, sans-serif;
    font-weight: normal !important;
    font-style: normal !important;
    font-size: 32px;
    color: #262636;
    margin-bottom: 8px; }
  .content .container .series {
    font-family: "QuicksandBold", "Helvetica Neue", Helvetica, sans-serif;
    font-weight: normal !important;
    font-style: normal !important; }
  .content .container .creator {
    margin-bottom: 24px; }
    .content .container .creator div {
      display: inline-block; }
      .content .container .creator div:first-child {
        vertical-align: top; }
      .content .container .creator div span {
        display: inline-block;
        line-height: 1; }
    .content .container .creator img {
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      border-radius: 20px;
      margin-right: 8px; }
    .content .container .creator .name {
      font-size: 16px;
      color: #868686;
      margin-top: 4px; }
  .content .container .description {
    margin-bottom: 50px;
    font-size: 18px;
    text-overflow: ellipsis; }
  .content .container .tapas {
    font-size: 16px; }
  .content .container .app-store {
    margin-top: 20px; }
    .content .container .app-store .app-store-btn-wrap {
      text-align: left;
      font-size: 0; }
    .content .container .app-store .app-store-btn {
      display: inline-block;
      background-color: #000000;
      width: 180px;
      height: 60px;
      vertical-align: middle;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      border-radius: 5px;
      text-align: center; }
      .content .container .app-store .app-store-btn img {
        padding: 10px 0; }
      .content .container .app-store .app-store-btn:last-child {
        margin-left: 20px; }
        .content .container .app-store .app-store-btn:last-child img {
          padding: 8px 0; }

/*# sourceMappingURL=share.css.map */
